<a href="{{ path('app_vertexcrud_show', {pk: npc.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
<a href="{{ path('app_npcgenerator_edit', {pk: npc.pk}) }}" title="Modifier"><i class="icon-edit"></i></a>
<a href="{{ path('app_vertexcrud_edit', {pk: npc.pk}) }}" title="Informations"><i class="icon-info-circled"></i></a>
<a href="{{ path('app_npcgenerator_gear', {pk: npc.pk}) }}" title="Matériel"><i class="icon-wrench"></i></a>
<a href="{{ path('app_npcgenerator_battle', {pk: npc.pk}) }}" title="Combat"><i class="icon-gun"></i></a>
<a href="{{ path('app_npcgenerator_duplicate', {pk: npc.pk}) }}" title="Dupliquer"><i class="icon-duplicate"></i></a>
<a href="{{ path('app_vertexcrud_rename', {pk: npc.pk}) }}" title="Renommer"><i class="icon-rename"></i></a>
<a href="{{ path('app_vertexcrud_delete', {pk: npc.pk}) }}" title="Effacer"><i class="icon-trash-empty"></i></a>