<a href="{{ path('app_vertexcrud_show', {pk: npc.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
<a href="{{ path('app_npcgenerator_edit', {pk: npc.pk}) }}" title="Modifier"><i class="icon-d6"></i></a>
    {% if npc.category == 'transhuman' %}
    <a href="{{ path('app_npcgenerator_info', {pk: npc.pk}) }}" title="Informations"><i class="icon-edit"></i></a>
    {% else %}
    <a href="{{ path('app_vertexcrud_edit', {pk: npc.pk}) }}" title="Informations"><i class="icon-edit"></i></a>
    {% endif %}
    {% if npc.category == 'transhuman' %}
        {% if npc.surnameLang is empty %}
        <a href="{{ path('app_profilepicture_create', {pk: npc.pk}) }}" title="Créer l'avatar"><i class="icon-profile"></i></a>
        {% else %}
        <a href="{{ path('app_profilepicture_generateonthefly', {pk: npc.pk}) }}" title="Instancier un avatar"><i class="icon-profile"></i></a>
        {% endif %}
    {% endif %}
<a href="{{ path('app_npcgenerator_gear', {pk: npc.pk}) }}" title="Matériel"><i class="icon-wrench"></i></a>
<a href="{{ path('app_npcgenerator_battle', {pk: npc.pk}) }}" title="Combat"><i class="icon-gun"></i></a>
    {% if npc.category != 'freeform' %}
    <a href="{{ path('app_npcgenerator_sleeve', {pk: npc.pk}) }}" title="Combat"><i class="icon-sleeve"></i></a>
    {% endif %}
<a href="{{ path('app_npcgenerator_duplicate', {pk: npc.pk}) }}" title="Dupliquer"><i class="icon-duplicate"></i></a>
<a href="{{ path('app_vertexcrud_rename', {pk: npc.pk}) }}" title="Renommer"><i class="icon-rename"></i></a>
<a href="{{ path('app_vertexcrud_delete', {pk: npc.pk}) }}" title="Effacer"><i class="icon-trash-empty"></i></a>