{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block _npc_wildCard_widget %}
    <div class="wild-card">
        {{ form_widget(form) }}
        <label for="{{ form.vars.id }}">
            <i class="icon-wildcard"></i>
        </label>
    </div>
{% endblock %}

{% block header_title %}Création de PNJ{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="pure-g character" x-data="configurator">
        <div class="pure-u-1">
            {{ form_widget(form['wildCard']) }}
            {{ form_widget(form['title'], {value: default_name, attr:{class:'pure-input-3-4'}}) }}
            {{ form_errors(form['title']) }}
        </div>
        <div class="pure-u-1 pure-u-xl-1-3">
            <h2>Historique</h2>
            {{ form_widget(form['background'],  {attr: {
                                                    'data-url': path('app_npcgenerator_getbackground'), 
                                                    'data-detail': 'background',
                                                    'x-on:change': 'selectUpdate'
                                                }}) }}
            <section x-html="background"></section>
        </div>
        <div class="pure-u-1 pure-u-xl-1-3">
            <h2>Faction</h2>
            {{ form_widget(form['faction'],  {attr: {
                                                    'data-url': path('app_npcgenerator_getfaction'), 
                                                    'data-detail': 'faction',
                                                    'x-on:change': 'selectUpdate'
                                                }}) }}
            <section x-html="faction"></section>
        </div>
        <div class="pure-u-1 pure-u-xl-1-3">
            <h2>Morphe</h2>
            {{ form_widget(form['morph'],  {attr: {
                                                    'data-url': path('app_npcgenerator_getmorph'), 
                                                    'data-detail': 'morph',
                                                    'x-on:change': 'selectUpdate'
                                                }}) }}
            <section x-html="morph"></section>
        </div>
        <div class="pure-u-1-1">
            {{ form_widget(form['content'],  {attr: {'class':'pure-input-1', 'placeholder': 'Information au format WikiText'}}) }}
        </div>  
        <fieldset class="pure-u-1-1">
            {{ form_row(form['surnameLang']) }}
        </fieldset>  
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        Alpine.data('configurator', () => ({
                background: '',
                faction: '',
                morph: '',

                selectUpdate(event) {
                    const param = event.target.dataset
                    this[param.detail] = '<i class="icon-spin3 animate-spin"></i>'
                    fetch(param.url + '?key=' + event.target.value)
                            .then(resp => {
                                return resp.text()
                            })
                            .then(data => {
                                this[param.detail] = data
                            })
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #npc_title {
            font-size: 200%;
        }
        .wild-card {
            display: inline-block;
        }
        .wild-card i {
            font-size: 400%;
            vertical-align: middle;
            cursor: pointer;
            color: #bbb;
        }
        .wild-card input {
            display: none;
        }
        .wild-card > input:checked + label i {
            color: #c60000;
        }
        textarea {
            margin: 1em 0;
        }
    </style>
{% endblock %}