{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block header_title %}Création de PNJ{% endblock %}

{% macro transhuman_selector_param(label, field, ajax_route) %}
    <div class="pure-u-1 pure-u-xl-1-3" x-data="configurator">
        <h2>{{ label }}</h2>
        {{ form_widget(field, {attr: {
                                    'data-url': path(ajax_route),
                                    'x-on:change': 'selectUpdate'
                                }}) }}
        <section x-html="detail"></section>
    </div>
{% endmacro %}

{% block _npc_wildCard_widget %}
    <div class="wild-card">
        {{ form_widget(form) }}
        <label for="{{ form.vars.id }}">
            <i class="icon-wildcard"></i>
        </label>
    </div>
{% endblock %}

{% block _npc_title_widget %}
    {{ form_widget(form, {attr:{class:'pure-input-3-4'}}) }}
    <a href="{{ path('app_npcgraphcrud_run', {title: form.vars.data}) }}"
       class="pure-button"
       title="Création avec Auto-PNJ">
        <i class="icon-npcgraph"></i>
    </a>
    {{ form_errors(form) }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="pure-g character">
        <div class="pure-u-1">
            {{ form_widget(form['wildCard']) }}
            {{ form_widget(form['title']) }}
        </div>
        {{ _self.transhuman_selector_param('Historique', form['background'], 'app_npcgenerator_getbackground') }}
        {{ _self.transhuman_selector_param('Faction', form['faction'], 'app_npcgenerator_getfaction') }}
        {{ _self.transhuman_selector_param('Morphe', form['morph'], 'app_npcgenerator_getmorph') }}
        <fieldset class="pure-u-1-1">
            {{ form_rest(form) }}
        </fieldset>  
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import configurator from 'selector-detailed';
        Alpine.data('configurator', configurator)
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #npc_title {
            font-size: 200%;
        }
        .wild-card {
            display: inline-block;
        }
        .wild-card i {
            font-size: 400%;
            vertical-align: middle;
            cursor: pointer;
            color: #bbb;
        }
        .wild-card input {
            display: none;
        }
        .wild-card > input:checked + label i {
            color: #c60000;
        }
        .character fieldset {
            margin: 1em 0 0;
        }
        form .pure-button .icon-npcgraph {
            font-size: 250%;
        }
    </style>
{% endblock %}