{% extends "form.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {{ include('npc/menu.html.twig', {npc: form.vars.data}) }}
{% endblock %}

{% block _npc_info_content_label %}
    {{ form_label(form) }}
    {% include 'fragment/form_minitoolbar.html.twig' %}
    {% set vertex = form.parent.vars.data %}
    <div class="minitoolbar" x-data="npcToolbar('{{ form.vars.id }}')">
        <a href="{{ path('app_ollama_contentgenerate', {pk: vertex.pk, promptKey: 'npc-bg', prefill: {title: vertex.title|split(' ', 2)[0]}}) }}"
           class="pure-button button-delete" title="Cancel edition and append a LLM-generated background">
            <i class="icon-background"></i>
        </a>
        <a href="#" class="pure-button" title="Insert a known locations template" x-on:click.prevent="insertLocationTemplate">
            <i class="icon-location"></i>
        </a>
    </div>
    <script type="module">
        Alpine.data('npcToolbar', (widgetId) => ({
                insertLocationTemplate() {
                    const widget = document.getElementById(widgetId)
                    let selection = widget.value.substring(widget.selectionStart, widget.selectionEnd).trim().split("\n")
                    widget.value = widget.value.substring(0, widget.selectionStart)
                            + "{{ '{{location|habitat=|work=|fun=}}' }}\n"
                            + widget.value.substr(widget.selectionStart)
                }
            }))
    </script>
{% endblock %}
