{% extends "base.html.twig" %}
{% block header_title %}PNJ{% endblock %}
{% block content %}
    <table class="pure-table pure-table-striped entity-listing">
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Origin{% endtrans %}</th>
            <th>{% trans %}Morph{% endtrans %}</th>
            <th>Actions</th>
        </tr>
        {% for npc in listing %}
            <tr>
                <td>
                    <a href="{{ path('app_npcgenerator_show', {pk: npc.pk}) }}" title="Voir">{{ npc.name }}</a>
                    {% if npc.wildCard %}<i class="icon-wildcard"></i>{% endif %}
                </td>
                <td>{{ npc.description }} ({{ npc.powerIndex }})</td>
                <td>{{ npc.morph.title }}</td>
                <td>
                    <nav class="listing-action">
                        {{ include('npc/actions.html.twig') }}
                    </nav>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
