{% extends "base.html.twig" %}
{% block header_title %}PNJ{% endblock %}
{% block content %}
    <table class="pure-table pure-table-striped character-listing">
        <tr>
            <th>Name</th>
            <th>Background</th>
            <th>Faction</th>
            <th>Morph</th>
            <th>Power</th>
            <th>Actions</th>
        </tr>
        {% for npc in listing %}
            <tr>
                <td>{{ npc.name }} {% if npc.wildCard %}<i class="icon-wildcard"></i>{% endif %}</td>
                <td>{{ npc.background.title }}</td>
                <td>{{ npc.faction.title }}</td>
                <td>{{ npc.morph.title }}</td>
                <td class="centered">{{ npc.powerIndex }}</td>
                <td>
                    <nav class="listing-action">
                        <a href="{{ path('app_npcgenerator_show', {pk: npc.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
                        <a href="{{ path('app_npcgenerator_edit', {pk: npc.pk}) }}" title="Modifier"><i class="icon-edit"></i></a>
                        <a href="{{ path('app_npcgenerator_gear', {pk: npc.pk}) }}" title="Matériel"><i class="icon-wrench"></i></a>
                        <a href="{{ path('app_npcgenerator_battle', {pk: npc.pk}) }}" title="Combat"><i class="icon-gun"></i></a>
                        <a href="{{ path('app_npcgenerator_duplicate', {pk: npc.pk}) }}" title="Dupliquer"><i class="icon-duplicate"></i></a>
                        <a href="{{ path('app_npcgenerator_delete', {pk: npc.pk}) }}" title="Effacer"><i class="icon-trash-empty"></i></a>
                    </nav>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
