{% extends "base.html.twig" %}

{% block header_title %}
    {{ include('npc/menu.html.twig', {npc: form.vars.data}) }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="pure-g character"
         x-data="configurator"
         x-init="detail='{{ include('fragment/morph_detail.html.twig', {morph: form.vars.data.morph})|e('js')|e('html_attr') }}'">
        <div class="pure-u-1-2">
            <h2>Changement de morphe</h2>
            {{ form_widget(form['morph'],  {attr: {
                                                    'data-url': path('app_npcgenerator_getmorph'), 
                                                    'x-on:change': 'selectUpdate'
                                                }}) }}
        </div>
        <section class="pure-u-1-2" x-html="detail">
        </section>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import configurator from 'selector-detailed';
        Alpine.data('configurator', configurator)
    </script>
{% endblock %}