{# Custom rendering for AvatarType #}
{% block avatar_row %}
    <div x-data="pictureCropper({{ form.vars.avatar_size }})" x-on:picture.window="bindPicture($event.detail)">
        {{ form_row(form) }}
        <div x-ref="cropperWidget" x-on:update="update" data-default-picture="{{ form.vars.default_picture }}"></div>
    </div>
    <script type="module">
        import avatarType from 'avatar-type';
        Alpine.data('pictureCropper', avatarType)
    </script>
{% endblock %}

{% block multicultural_avatar_row %}
    {% set avatarSize = 500 %}

    <div class="pure-g">
        {% for avatar_name in choices %}
            <div x-data="multicultural('{{ avatar_name.value }}', {{ avatarSize }})" class="avatar-sample pure-u-1-3">
                <img width="100" height="100" x-on:click="select"/>
                <canvas height="{{ avatarSize }}" width="{{ avatarSize }}" style="display:none"></canvas>
            </div>
        {% endfor %}
    </div>

    <script type="module">
        import multiavatar from '@multiavatar/multiavatar';

        Alpine.data('multicultural', (seed, size) => ({
                avatarId: seed,
                avatarSize: size,

                init() {
                    let hiddenCanvas = this.$el.querySelector('canvas')
                    let button = this.$el.querySelector('img')
                    let ctx = hiddenCanvas.getContext('2d')
                    let imgTmp = new Image()
                    imgTmp.onload = function () {
                        ctx.drawImage(this, 0, 0)
                    }
                    let svgCode = multiavatar(this.avatarId)

                    // updating image
                    imgTmp.src = svgContentToDataUrl(fixSvgDimension(svgCode, this.avatarSize))
                    button.src = imgTmp.src
                },

                // event for choosing avatar
                select(e) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: e.target.parentNode.querySelector('canvas').toDataURL()}
                    }))
                }
            }))
    </script>
{% endblock %}

{% block internal_avatar_row %}
    <div class="pure-g">
        {% for picture in choices %}
            <div class="avatar-sample pure-u-1-3" x-data="selfContent">
                <img class="pure-img" src="{{ path('get_picture', {title: picture.value}) }}" x-on:click="select"/>
            </div>
        {% endfor %}
    </div>
    <script type="module">
        Alpine.data('selfContent', () => ({
                select(event) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: event.target.src}
                    }))
                }
            }))
    </script>
{% endblock %}

{% block invokeai_avatar_row %}
    {{ form_widget(form) }}
{% endblock %}
