{# Custom rendering for AvatarType #}
{% block avatar_row %}
    <div x-data="pictureCropper({{ form.vars.avatar_size }})" x-on:picture.window="bindPicture($event.detail)">
        {{ form_row(form) }}
        <div x-ref="cropperWidget" x-on:update="update" data-default-picture="{{ form.vars.default_picture }}"></div>
    </div>
    <script type="module">
        import avatarType from 'avatar-type';
        Alpine.data('pictureCropper', avatarType)
    </script>
{% endblock %}

{% block multicultural_avatar_row %}
    {% set avatarSize = 500 %}
    <div class="pure-g">
        {% for avatar_name in choices %}
            <div x-data="multicultural('{{ avatar_name.value }}', {{ avatarSize }})" class="avatar-sample pure-u-1-4">
                <img x-on:click="select"/>
                <canvas height="{{ avatarSize }}" width="{{ avatarSize }}" style="display:none"></canvas>
            </div>
        {% endfor %}
    </div>
    <script type="module">
        import multiavatar from '@multiavatar/multiavatar';
        import * as Utils from 'cropper-utils';

        Alpine.data('multicultural', (seed, size) => ({
                avatarId: seed,
                avatarSize: size,

                init() {
                    let hiddenCanvas = this.$el.querySelector('canvas')
                    let button = this.$el.querySelector('img')
                    let ctx = hiddenCanvas.getContext('2d')
                    let imgTmp = new Image()
                    imgTmp.onload = function () {
                        ctx.drawImage(this, 0, 0)
                    }
                    let svgCode = multiavatar(this.avatarId)

                    // updating image
                    imgTmp.src = Utils.svgContentToDataUrl(Utils.fixSvgDimension(svgCode, this.avatarSize))
                    button.src = imgTmp.src
                },

                // event for choosing avatar
                select(e) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: e.target.parentNode.querySelector('canvas').toDataURL()}
                    }))
                }
            }))
    </script>
{% endblock %}

{% block internal_avatar_row %}
    <div class="pure-g">
        {% for picture in choices %}
            <div class="avatar-sample pure-u-1-4" x-data="selfContent">
                <img src="{{ path('get_picture', {title: picture.value}) }}" x-on:click="select"/>
            </div>
        {% endfor %}
    </div>
    <script type="module">
        Alpine.data('selfContent', () => ({
                select(event) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: event.target.src}
                    }))
                }
            }))
    </script>
{% endblock %}

{% block invokeai_avatar_row %}
    <div class="pure-g" x-data="invokeAi('{{ path('app_invokeaipicture_ajaxsearch', {source:'local'}) }}')">
        <section class="pure-u-1">
            {{ form_widget(form, {attr:{class:'pure-input-1'}}) }}
        </section>
        <section class="pure-u-1">
            <div class="pure-g invokeai-result">
                <template x-for="pic in getListing()" :key="pic.name">
                    <div class="avatar-sample pure-u-1-4">
                        <img x-bind:src="pic.thumb" x-on:click="select"/>
                    </div>
                </template>
            </div>
        </section>
    </div>
    <script type="module">
        Alpine.data('invokeAi', (searchUrl) => ({
                query: null,

                async getListing() {
                    if ((this.query === null) || (this.query.length === 0)) {
                        return []
                    }

                    const resp = await fetch(searchUrl + '?q=' + this.query)
                    if (!resp.ok) {
                        throw new Error(this.source, {cause: await resp.json()})
                    }
                    return await resp.json()
                },

                select(event) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: event.target.src}
                    }))
                },

                preventSubmit(event) {
                    if (event.keyCode === 13) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                }
            }))
    </script>
{% endblock %}

{% block bauhaus_avatar_row %}
    <div class="pure-g" x-data="boringAvatar">
        {% for avatar in choices %}
            <div class="pure-u-1-4 avatar-sample bauhaus" x-on:click="select">
                {{ avatar.value|raw }}
            </div>
        {% endfor %}
    </div>
    <script type="module">
        import * as Utils from 'cropper-utils';

        Alpine.data('boringAvatar', () => ({
                select(event) {
                    window.dispatchEvent(new CustomEvent('picture', {
                        bubbles: true,
                        detail: {dataUrl: Utils.svgContentToDataUrl(Utils.fixSvgDimension(event.currentTarget.innerHTML, 128))}
                    }))
                }
            }))
    </script>
{% endblock %}

{% block avatar_multisource_row %}
    {% set sources = ['internal','invokeai','multicultural','bauhaus'] %}
    <div x-data="{ panel: 0 }" class="multisource-widget">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                {% for idx, source in sources %}
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link" x-on:click="panel={{ idx }}">{{ (source ~ '_avatar_panel') |trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% for idx, source in sources %}
            <div x-show="panel==={{ idx }}">
                {{ form_row(form[source]) }}
            </div>
        {% endfor %}
    </div>
    <style>
        .invokeai-result {
            overflow-y: auto;
            max-height: 700px;
        }

        .multisource-widget .pure-menu-horizontal {
            margin-bottom: 1em;
        }

        .avatar-sample {
            text-align: center;
        }

        .avatar-sample img, .avatar-sample svg {
            cursor: zoom-in;
            width: 80%;
            margin: 0 auto 1em;
        }
    </style>
{% endblock %}
