{# Add Paste feature to a FileType #}
{%  block pasted_file_help %}
    {{ form_help(form) }}
    <script type="module">
        window.addEventListener('paste', e => {
            const fileInput = document.getElementById('{{ form.vars.id }}')
            fileInput.files = e.clipboardData.files
        })
    </script>
{% endblock %}

{% block morph_inventory_widget %}
    <div class="pure-g">
        <div class="pure-u-1-2"><h3>Morphe</h3></div>
        <div class="pure-u-1-6"><h3>Dispo</h3></div>
        <div class="pure-u-1-6"><h3>Stock</h3></div>
    </div>     

    <template x-for="(entry, idx) in inventory" :key="entry.morph">
        <div class="pure-g">
            <div class="pure-u-1-2">
                {{ form_widget(form.vars.prototype.morph, {
                    attr: {'x-bind:name': "'" ~ form.vars.prototype.morph.vars.full_name ~ "'.replace(/__name__/g, idx)"}
                }) }}
            </div>
            <div class="pure-u-1-6">
                {{ form_widget(form.vars.prototype.scarcity, {
                    attr: {'x-bind:name': "'" ~ form.vars.prototype.scarcity.vars.full_name ~ "'.replace(/__name__/g, idx)"}
                }) }}
            </div>
            <div class="pure-u-1-6">
                {{ form_widget(form.vars.prototype.stock, {
                    attr: {'x-bind:name': "'" ~ form.vars.prototype.stock.vars.full_name ~ "'.replace(/__name__/g, idx)"}
                }) }}
            </div>     
            <div class="pure-u-1-6" style="text-align: center">
                <a class="pure-button" x-on:click.prevent="deleteEntry(idx)"><i class="icon-trash-empty"></i></a>
            </div>
        </div>
    </template>
{% endblock %}