{# For GallerySelection form #}

{% block picture_selection_widget %}
    {{ form_widget(form.picture, {attr:{hidden:true}}) }}
    {{ form_widget(form.selected) }}
    <label for="{{ form.selected.vars.id }}">
        <img src="{{ path('app_gamesession_broadcasted', {title:form.vars.data.picture.filename}) }}"/>
    </label>
{% endblock %}

{% block gallery_selection_row %}
    <section class="mosaic">
        {% for child in form.children %}
            <div class="flow">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </section>
{% endblock %}

