{# For GallerySelection form #}

{% block picture_selection_widget %}
    {{ form_widget(form.picture, {attr:{hidden:true}}) }}
    {{ form_widget(form.selected) }}
    <label for="{{ form.selected.vars.id }}">
        <img src="{{ path('app_gamesession_broadcasted', {title:form.vars.data.picture.filename}) }}"/>
    </label>
{% endblock %}

{% block gallery_selection_row %}
    <script type="application/json" id="model_{{ form.vars.id }}">
        [
        {% for entry in form.vars.data %}
                "{{ entry.picture.filename }}" {%- if not loop.last -%},{%- endif -%}
        {% endfor %}
        ]
    </script>

    <section class="mosaic" x-data="gallery('model_{{ form.vars.id }}')" x-id="['pic']">
        {% for child in form.children %}
            <div class="flow">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </section>  

    <script type="module">
        Alpine.data('gallery', (modelId) => ({
                listing: [],

                init() {
                    this.listing = JSON.parse(document.getElementById(modelId).textContent)
                }
            }))
    </script>
{% endblock %}

