{# Custom render for MultiCheckboxType #}
{% block multi_checkbox_widget %}
    <div x-data="{ choices: {{ form.vars.data|default([])|json_encode() }} }" id="{{ form.vars.id }}" style="--select-size: {{ attr.size }}">
        <div class="multicheckbox">
            {% set options = choices %}
            {{ block('multi_checkbox_options') }}
        </div>
        <div class="preview-choices">
            <template x-for="item in choices" :key="item">
                <label>
                    <span x-text="item"></span>
                    <input type="checkbox" name="preview_{{ form.vars.full_name }}[]" x-model="choices" x-bind:value="item"/>
                </label>
            </template>
        </div>
    </div>
{% endblock %}

{% block multi_checkbox_options %}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <label class="entry entry-title">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</label>
            {% set options = choice %}
            {{- block('multi_checkbox_options') -}}
        {% else %}
            <label class="entry">
                <input type="checkbox" name="{{ form.vars.full_name }}[]" x-model="choices" value="{{ choice.value }}"/>
                {{- choice.label -}}
            </label>
        {% endif %}
    {% endfor -%}
{% endblock %}
