{# Custom render for MultiCheckboxType #}
{% block multi_checkbox_widget %}
    <div x-data="{ choices: {{ form.vars.data|default([])|json_encode() }} }">
        <div class="multicheckbox">
            {% set options = choices %}
            {{ block('multi_checkbox_options') }}
        </div>
        <div class="preview-choices">
            <template x-for="item in choices" :key="item">
                <label>
                    <span x-text="item"></span>
                    <input type="checkbox" name="{{ form.vars.full_name }}[]" x-model="choices" x-bind:value="item"/>
                </label>
            </template>
        </div>
    </div>

    <style>
        .multicheckbox {
            border: 1px #ccc solid;
            border-radius: 4px;
            overflow-y: auto;
            height: 200px;
            padding: 0.5em;
            margin: 0 0 1em;
        }
        .pure-form .multicheckbox > .entry {
            display: block;
            margin: 0;
        }
        .pure-form .multicheckbox > .entry input[type=checkbox] {
            margin: 0 0.5em 0.5em 0;
        }
        .multicheckbox .entry.entry-title {
            font-weight: bold;
        }

        .preview-choices {
            margin-bottom: 0.5em;
        }
        form fieldset .form-widget .preview-choices label {
            display: inline-block;
            background-color: lightgrey;
            padding: 0.3em;
            border-radius: 0.6em;
            margin: 0 0.3em 0.6em;
        }
        .preview-choices label input[type=checkbox] {
            margin: 0;
        }
    </style>
{% endblock %}

{% block multi_checkbox_options %}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <label class="entry entry-title">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</label>
            {% set options = choice %}
            {{- block('multi_checkbox_options') -}}
        {% else %}
            <label class="entry">
                <input type="checkbox" name="{{ form.vars.full_name }}[]" x-model="choices" value="{{ choice.value }}"/>
                {{- choice.label -}}
            </label>
        {% endif %}
    {% endfor -%}
{% endblock %}
