{% extends 'form_div_layout.html.twig' %}

{% block form_start -%}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': 'pure-form'}) %}
    {% endif %}
    {{ parent() }}
{%- endblock form_start %}

{% block button_attributes -%}
    {% if attr.class is not defined %}
        {% set attr = attr|merge({'class': 'pure-button button-primary pure-input-1' }) %}
    {% else %}
        {% set attr = attr|merge({'class': 'pure-button button-primary pure-input-1 ' ~ attr.class }) %}
    {% endif %}
    {{ parent() }}
{%- endblock button_attributes %}

{%- block form_row -%}
    {% if attr.class is not defined %}
        {%- set widget_attr = {attr: {class:'pure-input-1'}} -%}
    {% else %}
        {%- set widget_attr = attr -%}
    {% endif %}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {class:'pure-input-1-2', 'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}    
    <div class="pure-g">
        <div class="pure-u-1-2"></div>
        <div class="pure-u-1-2 form-error">{{- form_errors(form) -}}</div>
        <div class="pure-u-1-2">{{- form_label(form) -}}</div>
        <div class="pure-u-1-2">{{- form_widget(form, widget_attr) -}}{{- form_help(form) -}}</div>
    </div>
{%- endblock form_row -%}

{%- block form -%}
    {{ form_start(form) }}
    <fieldset>{{- form_widget(form) -}}</fieldset>
    {{ form_end(form) }}
{%- endblock form -%}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' help-text')|trim}) -%}
        <span id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </span>
    {%- endif -%}
{%- endblock form_help %}

{%- block password_widget -%}
    {%- set type = type|default('password') -%}
    {{ block('form_widget_simple') }}<i id="{{ id }}_eye" class="icon-eye"></i>
    <script>
        document.getElementById('{{ id|e('js') }}_eye').addEventListener('click', function (e) {
            var icon = e.target
            if (icon.attributes.class.value === 'icon-eye') {
                icon.attributes.class.value = 'icon-eye-off'
                icon.previousSibling.type = 'text'
            } else {
                icon.attributes.class.value = 'icon-eye'
                icon.previousSibling.type = 'password'
            }
        })
    </script>
{%- endblock password_widget -%}