{# Custom rendering for RandomIntegerType #}
{% block random_integer_widget %}
    {% set idButton = id ~ '_randomize' %}
    <div class="pure-g">
        <div class="pure-u-1-2">{{ form_widget(form, {attr: {class: 'pure-input-1'}}) }}</div>
        <div class="pure-u-1-2"><a class="pure-button pure-input-1" id="{{ idButton }}"><i class="icon-d20"></i>Random</a></div>
        <script>
            document.getElementById('{{ idButton }}').addEventListener('click', function (e) {
                let widget = document.getElementById('{{ id }}')
                widget.value = Math.floor(100000 * Math.random())
                const event = new Event('change', {bubbles: true})
                widget.dispatchEvent(event)
            })
        </script>
    </div>
{% endblock %}

{# Custom rendering for RandomNameType #}
{% block random_name_widget %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            {{ form_widget(form, {attr: {class: 'pure-input-1'}}) }}
        </div>
        <div class="pure-u-1-4">
            <select id="{{ id }}_category" class="pure-input-1">
                <option value="[]">-------------</option>
                {% for key, choice in category %}
                    <option value="{{ choice|json_encode()|escape('html_attr') }}">{{ key|trans }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-u-1-4">   
            <a class="pure-button pure-input-1" id="{{id}}_button"><i class="icon-d20"></i>Random</a>
            <script>
                document.getElementById('{{id}}_button').addEventListener('click', function (e) {
                    let field = document.getElementById('{{ id }}')
                    let choice = JSON.parse(document.getElementById('{{ id }}_category').value)
                    if (choice.length > 0) {
                        field.value = choice[Math.floor(Math.random() * choice.length)]
                    }
                })
            </script>
        </div>
    </div>
{% endblock %}