{# Custom rendering for RandomIntegerType #}
{% block random_integer_widget %}
    <div class="pure-g" x-data="randomInteger">
        <div class="pure-u-1-2">{{ form_widget(form) }}</div>
        <div class="pure-u-1-2"><a class="pure-button pure-input-1" x-on:click.prevent="roll"><i class="icon-randomize"></i>Random</a></div>
    </div>
    <script type="module">
        Alpine.data('randomInteger', () => ({
                result: null,
                roll(e) {
                    this.result = Math.floor(100000 * Math.random())
                }
            }))
    </script>
{% endblock %}

{# Custom rendering for RandomNameType #}
{% block random_name_widget %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            {{ form_widget(form, {attr: {class: 'pure-input-1'}}) }}
        </div>
        <div class="pure-u-1-4">
            <select id="{{ id }}_category" class="pure-input-1">
                <option value="[]">-------------</option>
                {% for key, choice in category %}
                    <option value="{{ choice|json_encode()|escape('html_attr') }}">{{ key|trans }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-u-1-4">   
            <a class="pure-button pure-input-1" id="{{id}}_button"><i class="icon-randomize"></i>Random</a>
            <script>
                document.getElementById('{{id}}_button').addEventListener('click', function (e) {
                    let field = document.getElementById('{{ id }}')
                    let choice = JSON.parse(document.getElementById('{{ id }}_category').value)
                    if (choice.length > 0) {
                        field.value = choice[Math.floor(Math.random() * choice.length)]
                    }
                })
            </script>
        </div>
    </div>
{% endblock %}

{% block human_name_row %}
    <div x-data="humanNameChoice">
        {{ form_widget(form) }}
        <div class="pure-g human-name">
            {% for label, gender in form.vars.choices %}
                {% for name in gender %}
                    <div class="pure-u-1-6 form-widget">
                        <label>
                            <input x-model="chosenName" type="radio" name="choice_{{ form.vars.id }}" value="{{ name }}" required="required"/>
                            {{ name }}
                        </label>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script type="module">
        Alpine.data('humanNameChoice', () => ({
                chosenName: null
            }))
    </script>        
{% endblock %}