{# Custom rendering for tree with autocompleted wikitext links #}
{% block wiki_tree_widget %}
    {{ form_widget(form) }}
    <div id="{{ form.vars.id }}_tree" class="tree_widget"></div>
    <script>
        window.addEventListener('load', () => {
            if (typeof SortableTree === "undefined") {
                throw new Error('SortableTree is not included')
            }

            const hiddenTree = document.querySelector('#{{ form.vars.id }}')
            const nodeData = [{{ form.vars.data|raw }}]

            const tree = new SortableTree({
                nodes: nodeData,
                element: document.querySelector('#{{ form.vars.id }}_tree'),
                initCollapseLevel: 4,
              //  stateId: 'some-tree',
                renderLabel: (data) => {
                    return `<input type="checkbox"/>
                                <span>${data.title}</span>
                                <button class="pure-button"><i class="icon-edit"></i></button>
                                <button class="pure-button"><i class="icon-newchild"></i></button>
                                <button class="pure-button"><i class="icon-trash-empty"></i></button>`
                },
                onChange: ({ nodes, movedNode, srcParentNode, targetParentNode }) => {
                    hiddenTree.value = JSON.stringify(dumpTree(nodes[0]))
                },
                onClick: (event, node) => {
                    // node.label.querySelector('span').innerHTML += ' yolo'
                    // node.data.title += ' yolo'
                }
            })

            document.querySelectorAll('i.icon-newchild').forEach(elem => {
                 let button = elem.parentElement
                 button.addEventListener('click', event => {
                     let node = button.parentElement.parentElement
                     let newChild = {data: {title: 'New child', finished: false}, nodes: []}
                     let originalNode = backtrackOriginalNodeWithData(nodeData[0], node.data)
                     originalNode.nodes.push(newChild)
                     hiddenTree.value = JSON.stringify(nodeData[0])
                 })
            })

            document.querySelectorAll('i.icon-trash-empty').forEach(elem => {
                 let button = elem.parentElement
                 button.addEventListener('click', event => {
                     let node = button.parentElement.parentElement
                     let parentNode = node.parentElement.parentElement
                     let originalNode = backtrackOriginalNodeWithData(nodeData[0], node.data)
                     let originalParentNode = backtrackOriginalNodeWithData(nodeData[0], parentNode.data)
                     let idx = originalParentNode.nodes.indexOf(originalNode)
                     originalParentNode.nodes.splice(idx, 1)
                     hiddenTree.value = JSON.stringify(nodeData[0])
                 })
            })

            function dumpTree(elem) {
                let dump = {data: tree.getNode(elem.id).data, nodes: []}
                for (let child of elem.subnodes) {
                    dump.nodes.push(dumpTree(child))
                }

                return dump
            }

            function backtrackOriginalNodeWithData(node, data) {
                if (node.data === data) {
                    return node
                }

                for (let child of node.nodes) {
                    let found = backtrackOriginalNodeWithData(child, data)
                    if (found !== null) {
                        return found
                    }
                }

                return null
            }
        })
    </script>
{% endblock %}
