{# Player log view #}
{% extends "base.html.twig" %}

{% block title %}Player{% endblock %}

{% block body %}
    <div x-data="playerLog('{{ mercure(topic) }}')">
        <nav class="pure-menu  pure-menu-horizontal">
            <ul class="pure-menu-list">
                {% set navigation = ['picture', 'user-circle', 'file-pdf', 'hexagon', 'view3d'] %}
                {% for idx, panel in navigation %}
                    <li class="pure-menu-item">
                        <a href="#{{ panel }}" class="pure-menu-link" x-on:click.prevent="panel={{ idx }}">
                            <i class="icon-{{ panel }}"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div x-show="panel===1"
             x-on:contextmenu.prevent="toggleFullScreen">
            <div class="swiper"
                 x-ref="gesture">
                <div class="swiper-wrapper" x-ref="journal">
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
            </div>
        </div>
        <div x-show="panel===0"
             x-on:contextmenu.prevent="toggleFullScreen">
            <img x-ref="picture"/>
        </div>
        <div x-show="panel===3"
             x-on:contextmenu.prevent="toggleFullScreen">
            <img x-ref="battlemap"/>
        </div>
        <div x-show="panel===4">
            BABYLON
        </div>
        <div x-show="panel===2">
            <ul class="document">
                <template x-for="doc in document">
                    <li><a x-bind:href="doc.link" x-text="doc.title" target="_blank"></a>
                </template>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import Swiper from 'swiper/swiper-bundle';
        import Manipulation from 'swiper/modules/manipulation';

        Alpine.data('playerLog', (host) => ({
                host: host,
                socket: null,
                swiper: null,
                panel: 1,
                document: [],

                init() {
                    // Socket
                    this.connect()

                    // Swiper
                    this.swiper = new Swiper(this.$refs.gesture, {
                        direction: 'vertical',
                        modules: [Manipulation]
                    })

                    // check if lost websocket connection when focus
                    document.addEventListener('visibilitychange', () => {
                        if (document.visibilityState === 'visible') {
                            if (this.socket.readyState === EventSource.CLOSED) {
                                this.connect()
                            }
                        }
                    })
                },

                connect() {
                    let url = new URL(this.host)
                    const lastId = localStorage.getItem('lastEventID')
                    if (lastId) {
                        url.searchParams.append('lastEventID', lastId)
                    }
                    this.socket = new EventSource(url)

                    this.socket.onopen = (msg) => {
                        console.log('Connected')
                    }

                    this.socket.addEventListener('profile', (msg) => {
                        console.log('New profile')
                        const content = document.createElement("div");
                        content.classList = ['swiper-slide']
                        content.dataset.contentId = msg.lastEventId
                        localStorage.setItem('lastEventID', msg.lastEventId)
                        const profile = document.createElement("img");
                        profile.src = msg.data
                        content.append(profile)
                        this.swiper.prependSlide(content)
                        this.swiper.slideTo(0, 500)
                    })

                    this.socket.addEventListener('picture', (msg) => {
                        console.log('New picture')
                        localStorage.setItem('lastEventID', msg.lastEventId)
                        this.$refs.picture.src = msg.data
                    })

                    this.socket.addEventListener('battlemap', (msg) => {
                        console.log('New battlemap')
                        localStorage.setItem('lastEventID', msg.lastEventId)
                        this.$refs.battlemap.src = msg.data
                    })

                    this.socket.addEventListener('document', (msg) => {
                        console.log('New document')
                        localStorage.setItem('lastEventID', msg.lastEventId)
                        this.document.push(JSON.parse(msg.data))
                    })

                    this.socket.onerror = () => {
                        console.log('Disconnected')
                    }
                },

                toggleFullScreen(event) {
                    const panel = event.currentTarget
                    if (!document.fullscreenElement) {
                        panel.requestFullscreen()
                        panel.classList = ['panel-fullscreen']
                    } else if (document.exitFullscreen) {
                        document.exitFullscreen();
                        panel.classList = []
                    }
                },

                saveContent() {
                    if (window.confirm("Voulez-vous sauver cette page ?")) {
                        // do something with localStorage and innerHTML, indexed with dataset.contentId
                    }
                }

            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <style>
        .swiper {
            width: 100vw;
            height: calc(100vh - 2.2em);
        }

        img {
            margin: 0 auto;
            max-width: 100vw;
            max-height: calc(100vh - 2.2em);
            object-fit: contain;
            display: block;
            width: 100%;
        }

        .panel-fullscreen img {
            max-height: 100vh;
        }

        .document {
            line-height: 200%;
            font-size: 140%;
        }
    </style>
{% endblock %}

