{% extends "base.html.twig" %}

{% block title %}QR Code pour{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-7-24"></div>
        <div class="pure-u-5-12">
            <figure>
                <canvas id="qrious" class="pure-img"></canvas>
            </figure>
        </div>
    </div>
    <h2 class="big-link">
        {{ url_cast }}
        <a href="{{ url_cast }}" target="_blank"><i class="icon-export"></i></a>
    </h2>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import QRious from 'qrious';

        new QRious({
            element: document.getElementById('qrious'),
            size: Math.min(innerWidth, innerHeight),
            level: 'M',
            value: '{{ url_cast }}'
        })
    </script>
{% endblock %}


{% block stylesheets %}
    <style>
        .big-link {
            text-align: center;
            font-size: 200%;
        }
        figure {
            margin: 1em;
        }
    </style>
{% endblock %}
