{# show battlemap #}
{% extends "base.html.twig" %}

{% block title %}PlayerCast{% endblock %}

{% block body %}
    <div class="pure-g" x-data="spa">
        <div class="pure-u-1 waiting" x-show="!onAir">
            <i class="icon-spin3 animate-spin"></i>
        </div>        
        <div class="pure-u-1 screencast" x-show="onAir">
            <img src="#" class="pure-img" x-ref="tv"/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/howler.core.min.js') }}"></script>    
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('spa', () => ({
                    host: '{{ host }}',
                    onAir: false,
                    clicSound: null,
                    socket: null,
                    init() {
                        var _this = this
                        this.clicSound = new Howl({
                            src: ['{{ asset('sound/clic.webm')}}', '{{ asset('sound/clic.ogg') }}']
                        })
                        
                        this.socket = new WebSocket(this.host)
                        this.socket.onopen = function (msg) {
                            console.log('Connecting to ' + _this.host)
                            _this.onAir = true
                        }

                        this.socket.onmessage = function (msg) {
                            console.log('New picture')
                            _this.$refs.tv.src = msg.data
                            _this.clicSound.play()
                        }

                        this.socket.onclose = function () {
                            console.log('Disconnected')
                            _this.onAir = false
                        }
                    }
                }))
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .waiting {
            font-size: 15em;
            color: #bbb;
            text-align: center;
        }
    </style>
{% endblock %}
