{# show statistics on vertices #}
{% extends "base.html.twig" %}

{% block title %}
    Statistiques
{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Type vertex</th>
                <th>Nombre</th>
                <th>dont Archivé</th>
            </tr>
        </thead>
        <tbody>
            {% set grand_total = 0 %}
            {% for entry in counting %}
                <tr>
                    <td>{{ entry.category|capitalize }}</td>
                    <td>{{ entry.total }}</td>
                    <td>{{ entry.archived }}</td>
                </tr>
                {% set grand_total = grand_total + entry.total %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>{{ grand_total }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

