{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Instancier un {{ npc.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('npc/actions.html.twig', {npc:npc}) }}
    </nav>   
    {% block header_big_title %}{{ block('title') }}{% endblock %}
{% endblock %}

{% block _profile_on_the_fly_avatar_row %}
    {% set avatarSize = form.vars.avatar_size %}

    <canvas height="{{ avatarSize }}" width="{{ avatarSize }}" id="avatar-tmp">
    </canvas>
    {{ form_widget(form) }}
    <div class="pure-g">
        {% if form.vars.default_bitmap is not empty %}
            <div class="pure-u-1-8">
                <figure class="pixel-avatar">
                    <img src="{{ path('get_picture', {title: form.vars.default_bitmap}) }}" class="pure-img"/>
                </figure>
            </div>
        {% endif %}
        {% for k in 1..form.vars.human_number %}
            <div class="pure-u-1-8">
                <figure class="vector-avatar human-avatar">
                </figure>
            </div>
        {% endfor %}
        {% for avatar in form.vars.bauhaus %}
            <div class="pure-u-1-8">
                <figure class="vector-avatar">
                    {{ avatar|raw }}
                </figure>
                <input type="radio"/>
            </div>
        {% endfor %}
    </div>

    <script>
        function putCanvasIntoFileInput() {
            const fileInput = document.getElementById('{{ form.vars.id }}')
            let hiddenCanvas = document.getElementById('avatar-tmp')
            let ctx = hiddenCanvas.getContext('2d')
            ctx.drawImage(this, 0, 0)
            // convert to Blob (async)
            hiddenCanvas.toBlob((blob) => {
                const file = new File([blob], "avatar.png")
                const dT = new DataTransfer()
                dT.items.add(file)
                fileInput.files = dT.files
            })
        }

        window.addEventListener('load', () => {
            // All pixel image click
            for (const sample of document.querySelectorAll('.pixel-avatar')) {
                sample.addEventListener("click", function (e) {
                    let imgTmp = new Image()
                    imgTmp.onload = putCanvasIntoFileInput
                    imgTmp.src = this.querySelector('img').src
                })
            }

            // Multiavatar
            for (const sample of document.querySelectorAll('.human-avatar')) {
                sample.innerHTML = multiavatar('yolo' + Math.random())
            }

            // All SVG click
            var avatarSample = document.querySelectorAll('.vector-avatar')
            for (const sample of avatarSample) {
                sample.addEventListener("click", function (e) {
                    let imgTmp = new Image()
                    imgTmp.onload = putCanvasIntoFileInput
                    imgTmp.src = svgContentToDataUrl(fixSvgDimension(this.innerHTML, {{ avatarSize }}))
                })
            }
        })
    </script>        
{% endblock %}


{% block content %}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        svg {
            width: 100%;
        }
        figure {
            margin: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('multiavatar/multiavatar.min.js') }}"></script>
    <script src="{{ asset('js/crop-helper.js') }}"></script>
{% endblock %}
