{# generate profile picture #}
{% extends "base.html.twig" %}
{% form_theme form _self %}

{% set avatarSize = 500 %}

{% macro avatar_listing(size) %}
    <div class="pure-u-1-5">
        {% for k in 1..5 %}
            <div  class="avatar-sample">
                <img width="100" height="100"/>
                <canvas height="{{ size }}" width="{{ size }}" style="display:none"></canvas>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block _profile_pic_avatar_row %}
    {{ block('form_row') }}
    <div id="cropper"></div>
{% endblock %}

{% block header_title %}
    {{ include('npc/menu.html.twig', {npc: form.vars.data}) }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        {{ _self.avatar_listing(avatarSize) }}
        <div class="pure-u-3-5" x-data>
            {{ form(form) }}
        </div>
        {{ _self.avatar_listing(avatarSize) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('foliotek/croppie.css') }}" />
    <style>
        .avatar-sample {
            text-align: center;
        }

        .avatar-sample img {
            cursor: zoom-in;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('foliotek/croppie.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@multiavatar/multiavatar/multiavatar.min.js"></script>    
    <script>
        var uploadCrop = new Croppie(document.getElementById('cropper'), {
            viewport: {
                width: 500,
                height: 500,
                type: 'circle'
            },
            boundary: {width: 500, height: 500},
            enableExif: true
        })

        function readFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    uploadCrop.bind({url: e.target.result})
                            .then(function () {
                                console.log('Bind complete')
                            })
                }

                reader.readAsDataURL(input.files[0]);
            } else {
                console.log("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        // sending form in ajax
        document.getElementById('profile_pic_generate').addEventListener('click', function (e) {
            e.preventDefault()
            let uploadForm = document.querySelector('article form')
            let data = new FormData(uploadForm)

            uploadCrop.result('base64').then(function (dataUrl) {
                data.set('profile_pic[avatar]', dataURLtoFile(dataUrl, 'avatar.png'))
                fetch(uploadForm.action, {
                    method: 'post',
                    body: data,
                    redirect: 'manual'
                }).then(function (response) {
                    location.href = '{{ path('app_vertexcrud_show', {pk: form.vars.data.pk}) }}'
                }).catch((error) => {
                    console.error(error);
                })
            })
        }) // fin du form

        // convert a DataURL to File for sending to symfony Form (with CSRF and all)
        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);

            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }

            return new File([u8arr], filename, {type: mime});
        }

        {% if form.vars.data.extractFirstPicture is not empty %}
            uploadCrop.bind({url: '/upload/{{ form.vars.data.extractFirstPicture }}'});
        {% endif %}
    </script>

    <script>
        window.addEventListener("load", function () {
            var avatarSample = document.querySelectorAll('.avatar-sample')

            for (const sample of avatarSample) {
                let hiddenCanvas = sample.querySelector('canvas')
                let button = sample.querySelector('img')
                let ctx = hiddenCanvas.getContext('2d')
                let imgTmp = new Image()
                imgTmp.onload = function () {
                    ctx.drawImage(this, 0, 0)
                }
                let avatarId = '{{ form.vars.data.title }}' + Math.random()
                let svgCode = multiavatar(avatarId)

                // adding height and width attributes of SVG root element to fix a bug in Firefox
                let parser = new DOMParser()
                let doc = parser.parseFromString(svgCode, "image/svg+xml")
                doc.rootElement.setAttribute('width', {{ avatarSize }})
                doc.rootElement.setAttribute('height', {{ avatarSize }})
                let exporter = new XMLSerializer()
                // updating image
                imgTmp.src = 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(exporter.serializeToString(doc))
                button.src = imgTmp.src

                // event for choosing avatar
                button.addEventListener("click", function (e) {
                    uploadCrop.bind({url: e.target.parentNode.querySelector('canvas').toDataURL()})
                })
            }
        })
    </script>    
{% endblock %}

