{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Instancier un {{ npc.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('npc/actions.html.twig') }}
    </nav>   
    {% block header_big_title %}{{ block('title') }}{% endblock %}
{% endblock %}

{% block _profile_on_the_fly_widget %}
    <div class="pure-g">
        <div class="pure-u-3-5">{{ form_row(form.avatar) }}</div>
        <div class="pure-u-2-5">
            {{ form_row(form.multisource) }}
        </div>
    </div>
{% endblock %}

{% block _profile_on_the_fly_title_row %}
    {{ form_widget(form,{attr: {hidden:true}}) }}
    <div class="pure-g human-name">
        {% for label, gender in form.vars.choices %}
            {% for name in gender %}
                <div class="pure-u-1-6 form-widget">
                    <label>
                        <input type="radio" name="choice_{{ form.vars.id }}" value="{{ name }}" required="required"/>
                        {{ name }}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>   

    <script>
        window.addEventListener('load', () => {
            for (const sample of document.querySelectorAll('.human-name input')) {
                sample.addEventListener("click", function (e) {
                    const widget = document.getElementById('{{ form.vars.id }}')
                    widget.value = e.target.value
                })
            }
        })
    </script>        
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('foliotek/croppie.css') }}" />
    <style>
        .pure-form button {
            margin-top: 1em;
        }
        .pure-form .human-name input[type=radio] {
            margin-bottom: 0.3em;
        }

        form[name=profile_on_the_fly]:invalid button {
            opacity: 0.3;
            pointer-events: none;
        }
    </style>
{% endblock %}
