{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Instancier un {{ npc.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('npc/actions.html.twig') }}
    </nav>   
    {% block header_big_title %}{{ block('title') }}{% endblock %}
{% endblock %}

{% block _profile_on_the_fly_widget %}
    {{ form_row(form.title) }}
    <div class="pure-g">
        <div class="pure-u-1-2">{{ form_row(form.avatar) }}</div>
        <div class="pure-u-1-2">{{ form_row(form.multisource) }}</div>
    </div>
    <div class="pure-g">
        <div class="pure-u-11-24">
            {{ form_widget(form.push_profile, {attr:{class:'button-continue'}}) }}
        </div>
        <div class="pure-u-1-12"></div>
        <div class="pure-u-11-24">
            {{ form_widget(form.instantiate_npc) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('foliotek/croppie.css') }}" />
    <style>
        .pure-form button {
            margin-top: 1em;
        }
        .pure-form .human-name {
            margin-bottom: 2em;
        }
        .pure-form .human-name input[type=radio] {
            margin-bottom: 0.3em;
        }

        form[name=profile_on_the_fly]:invalid button {
            opacity: 0.3;
            pointer-events: none;
        }
    </style>
{% endblock %}
