{# generate token picture #}
{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block header_title %}
    {{ include('npc/menu.html.twig', {npc: form.vars.data}) }}
{% endblock %}

{% block _profile_pic_avatar_row %}
    {{ block('form_row') }}
    <div id="cropper"></div>
{% endblock %}

{% block content %}
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5" x-data>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('foliotek/croppie.min.js') }}"></script>
    <script src="{{ asset('js/crop-helper.js') }}"></script>
    <script>
        // sending form in ajax
        document.getElementById('form_token_create').addEventListener('click', function (e) {
            e.preventDefault()
            let uploadForm = document.querySelector('article form')
            let data = new FormData(uploadForm)

            uploadCrop.result('base64').then(function (dataUrl) {
                data.set('form[token]', dataURLtoFile(dataUrl, 'avatar.png'))
                fetch(uploadForm.action, {
                    method: 'post',
                    body: data,
                    redirect: 'manual'
                }).then(function (response) {
                    location.href = '{{ path('app_vertexcrud_show', {pk: form.vars.data.pk}) }}'
                }).catch((error) => {
                    console.error(error);
                })
            })
        }) // fin du form

        {% if form.vars.data.extractFirstPicture is not empty %}
            window.addEventListener('load', (event) => {
                uploadCrop.bind({url: '{{ path('get_picture', {title: form.vars.data.extractFirstPicture}) }}'})
            })
        {% endif %}
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('foliotek/croppie.css') }}" />
{% endblock %}