{# Upload new image #}
{% extends "base.html.twig" %}

{% block title %}Upload picture{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section class="pure-g mosaic">
        {% for picture in last|slice(0, 24) %}
            <div class="pure-u-1-8">
                <img src="{{ path('get_picture', {title: picture.filename}) }}" title="{{ picture.filename }}"/>
                <figcaption>[[file:{{ picture.filename }}]]</figcaption>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('pixabay/auto-complete.min.js') }}"></script>
    <script>
        window.addEventListener('paste', e => {
            const fileInput = document.getElementById('{{ form['picture'].vars.id }}')
            fileInput.files = e.clipboardData.files
        })

        // if filename is empty before selecting a vertex for appending the picture, pre-fill the filename with the vertex title
        window.addEventListener('load', () => {
            let filename = document.getElementById('{{ form.children['filename'].vars.id }}')
            let vertex = document.getElementById('{{ form.children['append_vertex'].vars.id }}_auto')
            vertex.addEventListener('blur', e => {
                if (filename.value.length === 0) {
                    filename.value = vertex.value
                }
            })
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
    <style>
        .mosaic img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
        .mosaic figcaption {
            text-align: center;
            font-size: 60%;
            padding: 0.3em 0 0.9em;
        }
    </style>
{% endblock %}


