{# Upload new image #}
{% extends "base.html.twig" %}

{% block title %}Upload picture{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div class="pure-g">
        <section class="pure-u-4-5">
            {{ form(form) }}
        </section>
        <section class="pure-u-1-5">
            {% for picture in last|slice(0, 5) %}
                <article>
                    <img src="{{ path('get_picture', {title: picture.filename}) }}" class="pure-img" title="{{ picture.filename }}"/>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('pixabay/auto-complete.min.js') }}"></script>
    <script>
        window.addEventListener('paste', e => {
            const fileInput = document.getElementById('{{ form['picture'].vars.id }}')
            fileInput.files = e.clipboardData.files
        })
        
        // if filename is empty before selecting a vertex for appending the picture, pre-fill the filename with the vertex title
        window.addEventListener('load', () => {
            let filename = document.getElementById('{{ form.children['filename'].vars.id }}')
            let vertex = document.getElementById('{{ form.children['append_vertex'].vars.id }}')
            vertex.addEventListener('change', e => {
                if (filename.value.length === 0) {
                    filename.value = vertex.value
                }
            })
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
{% endblock %}


