{# canvas for Social Network Profile #}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ absolute_url(asset('purecss/pure-min.css')) }}"/>
        <style>
            @font-face {
                font-family: 'OpenSansCondensed';
                src: url(data:font/truetype;charset=utf-8;base64,{{ font }});
            }
            body {
                width: {{ width }}px;
                margin: 0;
                padding: 0;
                background-color: #f0f0f0;
            }
            .avatar {
                width: 100%;
                margin: 0 0 20px;
            }
            h1 {
                font-family: 'OpenSansCondensed';
                font-size: 50px;
                margin: 0;
                padding: 0 0.4em 0.1em;
                white-space: nowrap; 
                text-overflow: clip;
                overflow: hidden;
            }
            .pseudo nav {
                margin: 10px 20px 0 0;
            }
            .socnet figure {
                margin: 1em 1.5em 0;
            }
            .socnet h2 {
                font-family: 'OpenSansCondensed';
                text-align: center;
                font-size: 40px;
                margin: 0;
            }
            .hashtag {
                padding: 0.8em;
                height: 3em;
                font-size: 24px;
                color: #777;
            }
        </style>
    </head>
    <body>
        <img src="data:image/png;base64,{{ profile_pic }}" class="avatar"/>
        <div class="pure-g pseudo">
            <div class="pure-u-2-3">
                <h1>{{ npc.title }}</h1>
            </div>
            <div class="pure-u-1-3">
                <nav>
                    <img src="{{ absolute_url(asset('socnet/follow.svg')) }}" class="pure-img"/>
                </nav>
            </div>
        </div>
        <section class="hashtag">
            {{ npc.hashtag }}
        </section>
        <section class="socnet">
            <div class="pure-g">
                {% for key,follower in socnet %}
                    <div class="pure-u-1-3">
                        <figure>
                            <img src="{{ absolute_url(asset('socnet/' ~ key ~ '.png')) }}" class="pure-img"/>
                        </figure>
                        <h2>{{ follower }}</h2>
                    </div>
                {% endfor %}
            </div>
        </section>
    </body>
</html>