{% extends 'base.html.twig' %}

{% block title %}Dramatron{% endblock %}
{% block header_title %}
    {{ block('title') }}
{% endblock %}

{% block content %}
    <form class="pure-form" x-data="dramatron('{{ ollama_api }}')">
        <div class="pure-g">
            <div class="pure-u-4-5">
                <fieldset>
                    <h2>Pitch</h2>
                    <textarea x-model="scenario.pitch" class="pure-input-1" rows="4"></textarea>
                    <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="generate">
                        Générer le prochain champ vide
                    </button>
                    <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="save">Sauver en local</button>
                    <button class="pure-button" x-bind:disabled="!!scenario.pitch" x-on:click.prevent="load">Charger en local</button>
                    <h2>
                        Développement
                        <button class="pure-button" x-on:click.prevent="scenario.story=''; generate()"><i class="icon-spin3"></i></button>
                    </h2>
                    <textarea x-model="scenario.story" class="pure-input-1" rows="30"></textarea>
                    <template x-for="idx in [1,2,3,4,5]">
                        <section>
                            <h2>
                                <span x-text="'Acte ' + idx"></span>
                                <button class="pure-button" x-on:click.prevent="scenario['act' + idx]=''; generate()"><i class="icon-spin3"></i></button>
                            </h2>
                            <textarea x-model="scenario['act' + idx]" class="pure-input-1" rows="10"></textarea>
                        </section>
                    </template>
                </fieldset>
            </div>
            <aside class="pure-u-1-5">
                <fieldset>
                    <h2>Personnages</h2>
                    <textarea x-model="scenario.character" class="pure-input-1" rows="10"></textarea>
                    <ul>
                        <template x-for="entry in scenario.parsedCharacter">
                            <li x-text="entry.title"></li>
                        </template>
                    </ul>
                    <h2>Décors</h2>
                    <ul>
                        <template x-for="entry in scenario.place">
                            <li x-text="entry.title"></li>
                        </template>
                    </ul>
                </fieldset>
            </aside>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="init-payload">
        {{ payload|json_encode()|raw }}
    </script>
    <script type="module">
        import { Ollama } from 'ollama/browser';
        class Scenario {
            title = null
            pitch = null
            story = null
            act1 = null
            act2 = null
            act3 = null
            act4 = null
            act5 = null
            character = null
            parsedCharacter = []
            place = null
        }

        Alpine.data('dramatron', url => ({
                ollama: null,
                scenario: null,

                init() {
                    this.scenario = new Scenario()
                    this.ollama = new Ollama({host: url})
                },

                async generate() {
                    const newGeneration = this.getPayload()
                    console.log('new generation for', newGeneration.field)
                    await this.printAnswer(newGeneration.payload, newGeneration.field)
                },

                getDefaultPayload() {
                    let p = JSON.parse(document.getElementById('init-payload').textContent)
                    p.options.num_ctx = 30000

                    return p
                },

                getPayload() {
                    if (!this.scenario.pitch) {
                        throw new Error('Pitch is empty, cannot generate anything without, at least, a pitch')
                    }

                    let payload = this.getDefaultPayload()
                    payload.messages[1].content = payload.messages[1].content
                            + this.scenario.pitch
                            + "\nDéveloppe ce synopsis en 5 actes"

                    // adding generated story to the train-of-thought. If it's empty, returning the payload for generation
                    if (this.scenario.story) {
                        payload.messages[2] = {role: 'assistant', content: this.scenario.story}
                    } else {
                        return {field: 'story', payload: payload}
                    }

                    // Adding the already-generated/filled acts (skipping empty acts) to the train-of-thought
                    for (let k = 1; k <= 5; k++) {
                        if (this.scenario['act' + k]) {
                            payload.messages.push(this.getQuestionForAct(k))
                            payload.messages.push({role: 'assistant', content: this.scenario['act' + k]})
                        }
                    }

                    // finding the first empty act and returning the payload with the question at the end
                    for (let k = 1; k <= 5; k++) {
                        const key = 'act' + k
                        if (!this.scenario[key]) {
                            payload.messages.push(this.getQuestionForAct(k))
                            return {field: key, payload: payload}
                        }
                    }
                    /*
                     // all 5 acts are filled, extract characters' name. 
                     // The characters' field is a big blob of text. PostProcessing will came afterwards
                     if (!this.scenario.character) {
                     payload.messages.push({role: 'user', content: "Compile la liste de tous les noms des personnages impliqués dans toutes les scènes que tu as précédemment décrites. Réponds en format JSON"})
                     return {field: 'character', payload: payload}
                     }
                     */
                    throw new Error('No empty field to ask the LLM to generate')
                },

                getQuestionForAct(n) {
                    return {role: 'user', content: `Développe sur 5 scènes, en incluant une scène d'action, l'acte ${n} de ton synopsis`}
                },

                async printAnswer(payload, field) {
                    this.scenario[field] = ''
                    const response = await this.ollama.chat(payload)
                    for await (const part of response) {
                        this.scenario[field] = this.scenario[field].concat(part.message.content)
                        if (part.done === true) {
                            console.table({'prompt token': part.prompt_eval_count, 'response token': part.eval_count})
                        }
                    }
                },

                save() {
                    localStorage.setItem('dramatron', JSON.stringify(this.scenario))
                },

                load() {
                    this.scenario = JSON.parse(localStorage.getItem('dramatron'))
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pure-u-4-5 > fieldset {
            margin-right: 2em;
        }

        fieldset > h2:first-child {
            margin-top: 0;
        }

        fieldset h2 .pure-button {
            font-size: 1rem;
            float: right;
        }
    </style>
{% endblock %}
