{% extends 'base.html.twig' %}

{% block title %}Dramatron{% endblock %}
{% block header_title %}
    {{ block('title') }}
{% endblock %}

{% block content %}
    <form class="pure-form" x-data="dramatron('{{ ollama_api }}')">
        <div class="pure-g">
            <div class="pure-u-4-5">
                <fieldset>
                    <h2>Pitch</h2>
                    <textarea x-model="scenario.pitch" class="pure-input-1" rows="4"></textarea>
                    <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="generate">
                        Générer le prochain champ vide
                    </button>
                    <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="save">Sauver en local</button>
                    <button class="pure-button" x-bind:disabled="!!scenario.pitch" x-on:click.prevent="load">Charger en local</button>
                    <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="totalCreation">Effacer et tout générer à partir du pitch</button>
                    <h2>
                        Développement
                        <button class="pure-button" x-on:click.prevent="scenario.story=''; generate()"><i class="icon-spin3"></i></button>
                    </h2>
                    <textarea x-model="scenario.story" class="pure-input-1" rows="30"></textarea>
                    <template x-for="idx in [1,2,3,4,5]">
                        <section>
                            <h2>
                                <span x-text="'Acte ' + idx"></span>
                                <button class="pure-button" x-on:click.prevent="scenario['act' + idx]=''; generate()"><i class="icon-spin3"></i></button>
                            </h2>
                            <textarea x-model="scenario['act' + idx]" class="pure-input-1" rows="10"></textarea>
                        </section>
                    </template>
                </fieldset>
            </div>
            <aside class="pure-u-1-5">
                <fieldset>
                    <h2>
                        Personnages
                        <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="extractCharacter"><i class="icon-spin3"></i></button>
                    </h2>
                    <ul>
                        <template x-for="entry in scenario.character">
                            <li x-text="entry.name"></li>
                        </template>
                    </ul>
                    <h2>
                        Décors
                        <button class="pure-button" x-bind:disabled="!scenario.pitch" x-on:click.prevent="extractPlace"><i class="icon-spin3"></i></button>
                    </h2>
                    <ul>
                        <template x-for="entry in scenario.place">
                            <li x-text="entry.name"></li>
                        </template>
                    </ul>
                </fieldset>
                <fieldset>
                    <h2>Export</h2>
                    <button class="pure-button" x-on:click.prevent="downloadEpub">Générer un ePub</button>
                </fieldset>
            </aside>
        </div>
    </form>
{% endblock %}

{% block info %}
    <div x-data="llmState" x-on:llm.window="update">
        <i class="icon-spin3 animate-spin" x-show="running"></i>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="init-payload">
        {{ payload|json_encode()|raw }}
    </script>
    <script type="module">
        import * as spa from 'dramatron/spa';

        spa.setDefaultPayload(JSON.parse(document.getElementById('init-payload').textContent))
        Alpine.data('dramatron', spa.factory)
    </script>
    <script type="module">
        Alpine.data('llmState', () => ({
                running: false,

                update(event) {
                    this.running = event.detail.running
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pure-u-4-5 > fieldset {
            margin-right: 2em;
        }
        fieldset > h2:first-child {
            margin-top: 0;
        }
        fieldset h2 .pure-button {
            font-size: 1rem;
            float: right;
        }

        .info {
            position: sticky;
            top: 0.5em;
        }
        .info i {
            font-size: 1000%;
            color: lightgray;
        }
    </style>
{% endblock %}
