{% extends "base.html.twig" %}
{% form_theme form _self %}
{% block title %}Map{% endblock %}

{% block _mapgen_color_label %}
{% endblock %}
{% block _mapgen_highlight_row %}
    {% if form.children|length > 0 %}
        {{ form_row(form) }}
    {% endif %}
{% endblock %}
{% block _mapgen_highlight_widget %}
    <div class="pure-g">
        {% for idx,child in form %}
            <div class="pure-u-1-3">
                <label for="{{ id }}_{{ idx }}">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"viewBox="0 0 2 2" height="1em">
                        <circle cx="1" cy="1" r="0.9" fill="{{ form.parent.color.children[idx].vars.data }}" stroke="#777777" stroke-width="0.2"/>
                    </svg>
                </label>
            </div>
            <div class="pure-u-2-3">
                {{ form_widget(child, {attr: {class: 'pure-input-1'}}) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let onTheFly = document.querySelector('.map-generator form')

        onTheFly.addEventListener('change', function (e) {
            let data = new FormData(onTheFly)
            fetch('{{ path('app_mapcrud_mapgenerate', {model: app.request.attributes.get('model')}) }}?' + new URLSearchParams(data), {
                redirect: 'manual'
            }).then(function (response) {
                if (!response.ok) {
                    return Promise.reject(response.statusText);
                }
                return response.text()
            }).then(function (svg) {
                document.getElementById('map').innerHTML = svg
            }).catch((error) => {
                console.error(error);
            })
        })

        // event for posting a map
        onTheFly.addEventListener("submit", function (e) {
            if (e.submitter.id === 'mapgen_openPopUp') {
                e.preventDefault()
                let data = new FormData(onTheFly)
                let url = '{{ path('app_mapcrud_popup', {model: app.request.attributes.get('model')}) }}?' + new URLSearchParams(data)
                window.open(url, '{{ popup_param.name }}', '{{ popup_param.config }}')
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="pure-g map-generator">
        <div class="pure-u-1-3">{{ form(form) }}</div>
        <div class="pure-u-2-3" id="map"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            text-align: center;
        }
        #map svg {
            border: 1px solid black;
        }
        #map svg g.fog-of-war {
            opacity: 0;
        }
        #mapgen_openPopUp {
            margin-bottom: 3em;
        }
    </style>
{% endblock %}
