{% extends "base.html.twig" %}

{% block title %}Map{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let onTheFly = document.querySelector('.map-generator form')

        onTheFly.addEventListener('change', function (e) {
            let data = new FormData(onTheFly)
            fetch(onTheFly.action + '?' + new URLSearchParams(data), {
                redirect: 'manual'
            }).then(function (response) {
                if (!response.ok) {
                    return Promise.reject(response.statusText);
                }
                return response.text()
            }).then(function (svg) {
                document.getElementById('map').innerHTML = svg
            }).catch((error) => {
                console.error(error);
            })
        })

        // event for sending an avatar
        onTheFly.addEventListener("submit", function (e) {
            let data = new FormData(onTheFly)
            e.preventDefault()
            let url = '{{ path('app_mapcrud_popup') }}?' + new URLSearchParams(data)
            window.open(url, '{{ popup_param.name }}', '{{ popup_param.config }}')
        })
    </script>
{% endblock %}

{% block content %}
    <div class="pure-g map-generator">
        <div class="pure-u-1-5">{{ form(form, {'action': path('app_mapcrud_mapgenerate'), 'method': 'GET'}) }}</div>
        <div class="pure-u-4-5" id="map"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            text-align: center;
        }
        #map svg {
            border: 1px solid black;
        }
        #map svg g.fog-of-war {
            opacity: 0;
        }
        .button-write {
            margin-top: 3em;
        }
    </style>
{% endblock %}
