{% extends "base.html.twig" %}

{% block title %}Map{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let onTheFly = document.querySelector('.map-generator form')

        onTheFly.addEventListener('change', function (e) {
            let data = new FormData(onTheFly)
            fetch('{{ path('app_mapcrud_mapgenerate', {model: app.request.attributes.get('model')}) }}?' + new URLSearchParams(data), {
                redirect: 'manual'
            }).then(function (response) {
                if (!response.ok) {
                    return Promise.reject(response.statusText);
                }
                return response.text()
            }).then(function (svg) {
                document.getElementById('map').innerHTML = svg
            }).catch((error) => {
                console.error(error);
            })
        })

        // event for sending an avatar
        onTheFly.addEventListener("submit", function (e) {
            if (e.submitter.id === 'mapgen_openPopUp') {
                e.preventDefault()
                let data = new FormData(onTheFly)
                let url = '{{ path('app_mapcrud_popup', {model: app.request.attributes.get('model')}) }}?' + new URLSearchParams(data)
                window.open(url, '{{ popup_param.name }}', '{{ popup_param.config }}')
            }
        })
    </script>
{% endblock %}

{% block content %}
    <div class="pure-g map-generator">
        <div class="pure-u-1-4">{{ form(form) }}</div>
        <div class="pure-u-3-4" id="map"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            text-align: center;
        }
        #map svg {
            border: 1px solid black;
        }
        #map svg g.fog-of-war {
            opacity: 0;
        }
        #mapgen_openPopUp {
            margin-bottom: 3em;
        }
    </style>
{% endblock %}
