{% extends "base.html.twig" %}
{% block title %}Liste des modèles de Battle Map{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div class="pure-g list-battlemap">
        {% for map in template %}
            <div class="pure-u-1-5">
                {{ map|raw }}
                <a href="{{ path('app_mapcrud_create', {model:map.recipe }) }}?{{ {mapgen: map.formData}|url_encode }}">
                    {{ map.title }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .list-battlemap a {
            display: block;
            text-align: center;
        }
    </style>
{% endblock %}
