{# show picture #}
{% extends "base.html.twig" %}

{% block title %}{{ popup_param.name }}{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bumbu/svg-pan-zoom.min.js') }}"></script>
    <script>
        window.resizeTo({{ popup_param.max_size }}, {{ popup_param.max_size + popup_param.delta_y }})

        fetch('{{ img|raw }}', {
            redirect: 'manual'
        }).then(function (response) {
            if (!response.ok) {
                return Promise.reject(response.statusText);
            }
            return response.text()
        }).then(function (svg) {
            document.getElementById('map').innerHTML = svg

            document.querySelectorAll('#map g.fog-of-war').forEach(function (item) {
                item.addEventListener('click', function (e) {
                    e.target.parentNode.style = 'opacity:0%'
                })
            })

            svgPanZoom(document.querySelector('#map svg'))
        }).catch((error) => {
            console.error(error);
        })
    </script>
{% endblock %}