{# show battlemap #}
{% extends "base.html.twig" %}

{% block title %}{{ popup_param.name }}{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('svgdotjs/svg.min.js') }}"></script>
    <script src="{{ asset('svgdotjs/svg.panzoom.min.js') }}"></script>
    <script src="{{ asset('svgdotjs/svg.draggable.min.js') }}"></script>
    <script>
        window.resizeTo({{ popup_param.max_size }}, {{ popup_param.max_size + popup_param.delta_y }})
        var battlemap;

        fetch('{{ img|raw }}', {
            redirect: 'manual'
        }).then(function (response) {
            if (!response.ok) {
                return Promise.reject(response.statusText);
            }
            return response.text()
        }).then(function (svg) {
            document.getElementById('map').innerHTML = svg

            document.querySelectorAll('#map g.fog-of-war').forEach(function (item) {
                item.addEventListener('dblclick', function (e) {
                    e.target.parentNode.style = 'opacity:0%'
                })
            })

            let svgElem = document.querySelector('#map svg')
            battlemap = SVG(svgElem)
            battlemap.panZoom({zoomMin: 20, zoomMax: 200})
        }).catch((error) => {
            console.error(error);
        })

        Mousetrap.bind('t', function () {
            let bbox = battlemap.viewbox()
            battlemap.circle(0.3)
                    .fill('red')
                    .move(bbox.x + bbox.width / 2, bbox.y + bbox.height / 2)
                    .draggable()
            return false
        });
    </script>
{% endblock %}