{# Graphical view of all vertices associated to a Timeline #}
{% extends "timeline/partition/listing.html.twig" %}

{% block content %}
    {% for category, listing in gallery %}
        <h2>{{ category }}</h2>
        <section class="gallery" x-data="broadcast">
            {% for node in listing %}
                <div>
                    {% if node.url is not empty %}
                        <a href="{{ node.url }}" x-bind="trigger">
                            <img src="{{ node.url }}"/>
                        </a>
                    {% else %}
                        <i class="{{ node.icon }}"></i>
                    {% endif %}
                    <h2><a href="{{ path('app_wiki', {title: node.title}) }}">{{ node.title }}</a></h2>
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(6, 1fr);
        }

        .gallery img {
            height: 12vw;
            width: 12vw;
            object-fit: cover;
            display: block;
            margin: auto;
        }

        .gallery i {
            font-size: 10vw;
            display: block;
        }

        .gallery > div {
            text-align: center;
        }

        .gallery h2 {
            font-size: 100%;
            margin-top: 0.5rem;
        }

        .gallery h2 a {
            text-decoration-style: dotted;
        }
    </style>
{% endblock %}