{# Graphical view of all vertices associated to a Timeline #}
{% extends "timeline/partition/listing.html.twig" %}

{% block content %}
    {% for category, listing in gallery %}
        <h2>{{ category }}</h2>
        <section class="gallery" x-data="broadcast">
            {% for node in listing %}
                <div>
                    {% if node.pushable %}
                        <a href="{{ node.push }}" x-bind="trigger">
                            <img src="{{ node.thumb }}" class="{{ node.classname }}"/>
                        </a>
                    {% else %}
                        <i class="{{ node.icon }}"></i>
                    {% endif %}
                    <h3><a href="{{ path('app_wiki', {title: node.title}) }}">{{ node.title }}</a></h3>
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        main {
            --columns: 8;
        }

        .gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(var(--columns), 1fr);
        }

        .gallery img.square {
            height: calc(100vw * 5 / 6 / var(--columns) - 1em);
            width: calc(100vw * 5 / 6 / var(--columns) - 1em);
            object-fit: cover;
            display: block;
        }

        .gallery i {
            font-size: calc(100vw * 5 / 6 / var(--columns) / 1.5);
            display: block;
            margin: 0;
        }

        .gallery > div {
            text-align: center;
        }

        main h2 {
            text-transform: capitalize;
        }

        .gallery h3 {
            font-size: 100%;
            margin-top: 0.5em;
        }

        .gallery h3 a {
            text-decoration-style: dotted;
        }
    </style>
{% endblock %}