{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('timeline/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block _timeline_update_stay_row %}
    {# also render the create button #}
    <div class="pure-g">
        <div class="pure-u-11-24">
            {{ form_widget(form, {attr:{class:'button-continue'}}) }}
        </div>
        <div class="pure-u-1-12"></div>
        <div class="pure-u-11-24">
            {{ form_widget(form.parent.create) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .timeline-tree .finished-node {
            opacity: 50%;
        }

        .dropzone {
            height: 4px;
        }
        .dropzone-hilite {
            background-color: green;
            height: 2em;
        }
        .parent-hilite {
            background-color: green;
            color:white;
        }
        .node-content {
            display: flex;
        }
        .node-content > span {
            display: flex;
            border: 2px solid #333;
            padding: 0.4em 0.6em 0.3em;
            border-radius: 0.3em;
            width: 100%;
        }
        .dragging {
            background-color: lightblue;
        }

        .timeline-tree button[data-alive=true] {
            background-color: #ffb4b4;
        }
        .timeline-tree .node-content textarea {
            display: flex;
            width: 100%;
            margin-bottom: 0;
        }

        .icon-check {
            color: green;
        }
    </style>
{% endblock %}
