{# Graphical view of all vertices associated to a Timeline #}
{% extends "timeline/vertex_listing.html.twig" %}

{% block content %}
    <div class="gallery" x-data="broadcast">
        {% for node in network %}
            <div>
                {% set pic = node.extractFirstPicture %}
                {% if pic is not empty %}
                    <a href="{{ path('app_picture_push', {title: pic}) }}" x-bind="trigger">
                        <img src="{{ path('get_picture', {title: pic}) }}"/>
                    </a>
                {% else %}
                    <i class="icon-picture"></i>
                {% endif %}
                <h2><a href="{{ path('app_wiki', {title: node.title}) }}">{{ node.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        .gallery {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(6, 1fr);
        }

        .gallery img {
            height: 12vw;
            width: 12vw;
            object-fit: cover;
            display: block;
        }

        .gallery i {
            font-size: 10vw;
            display: block;
        }

        .gallery > div {
            text-align: center;
        }

        .gallery h2 {
            font-size: 100%;
            margin-top: 0.5rem;
        }
    </style>
{% endblock %}