{# detail #}
{% macro print_group(icon, group) %}
    <h2><i class="icon-{{ icon }}"></i></h2>
    <ul>
        {% for item in group %}
            <li>
                <a href="{{ path('app_wiki', {title:item}) }}">{{ item }}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<section class="timeline-toc">
    {% block table_of_content %}
        {% if network.transhuman is defined %}
            {{ _self.print_group('extra', network.transhuman) }}
        {% endif %}
        {% if network.place is defined %}
            {{ _self.print_group('place', network.place) }}
        {% endif %}
        {% if network.scene is defined %}
            {{ _self.print_group('video', network.scene) }}
        {% endif %}
    {% endblock %}
</section>