{% extends "base.html.twig" %}

{% block header_title %}Tracker{% endblock %}

{% block content %}
    <div x-data="behavior" class="pure-g">
        <section class="pure-u-1 pure-u-xl-1-3">
            <div class="pure-form">
                <input type="text" x-ref="search"/>
            </div>
        </section>
        <section class="pure-u-1 pure-u-xl-1-3 npc-list">
            <template x-for="(npc,idx) in encounter" :key="npc.title">
                <div class="pure-g" x-on:click="remove(idx)">
                    <div class="pure-u-1-8">
                        <template x-if="npc.token">
                            <img x-bind:src="'/picture/get/' + npc.token" class="pure-img"/>
                        </template>
                        <template x-if="!npc.token">
                            <img src="{{ asset('img/user-circle.svg') }}" class="pure-img"/>
                        </template>
                    </div>
                    <div class="pure-u-7-8 npc-title">
                        <span x-text="npc.title"></span>
                    </div>
                </div>
            </template>
        </section>
        <div class="pure-u-1 pure-u-xl-1-3">
            <canvas x-ref="qrious" class="pure-img" x-init="$watch('encounter', value => qrCode.value = staticUrl + getParameters())">
            </canvas>
        </div>
    </div>     
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/json" id="character-listing">
        {{ listing|json_encode()|raw }}
    </script>
    <script type="module">
        import QRious from 'qrious';
        import autoComplete from 'js-autocomplete';

        Alpine.data('behavior', () => ({
                staticUrl: '{{ url_tracker }}?',
                encounter: [],
                qrCode: null,

                init() {
                    this.qrCode = new QRious({
                        element: this.$refs.qrious,
                        size: Math.min(innerWidth, innerHeight),
                        level: 'M',
                        value: '-Vide-'
                    })

                    new autoComplete({
                        selector: this.$refs.search,
                        minChars: 2,
                        source: (term, suggest) => {
                            term = term.toLowerCase()
                            var choices = JSON.parse(document.getElementById("character-listing").textContent)
                            var suggestions = []
                            for (let i = 0; i < choices.length; i++) {
                                if (~choices[i].title.toLowerCase().indexOf(term)) {
                                    suggestions.push(choices[i])
                                }
                            }
                            suggest(suggestions)
                        },
                        renderItem: (item, search) => {
                            return '<div class="autocomplete-suggestion" data-content="' + btoa(JSON.stringify(item)) +
                                    '">' + item.title + '</div>'
                        },
                        onSelect: (e, term, item) => {
                            let npc = item.getAttribute('data-content')
                            this.encounter.push(JSON.parse(atob(npc)))
                        }
                    })
                },

                push(name, wc, par, rgm, tough, arm) {
                    this.encounter.push({name: name, w: wc, p: par, r: rgm, t: tough, a: arm})
                },

                getParameters() {
                    let param = new URLSearchParams()
                    for (const npc of this.encounter) {
                        param.append('name', npc.title)
                        param.append('w', npc.wildcard)
                        param.append('p', npc.parry)
                        param.append('r', npc.ranged)
                        param.append('t', npc.toughness)
                        param.append('a', npc.armor)
                    }

                    return param.toString()
                },

                remove(idx) {
                    this.encounter.splice(idx, 1)
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
    <style>
        .npc-list {
            font-size: 130%;
        }
        .npc-list > div {
            cursor: pointer;
        }
        .pure-form {
            font-size: 130%;
        }
        .autocomplete-suggestion {
            font-size: 130%;
            margin-top: 0.3em;
            margin-bottom: 0.2em;
        }
        .npc-title {
            display: flex;
            align-items: center;
        }
        .npc-title span {
            padding-left: 1em;
        }
        .npc-list img {
            margin-bottom: 0.2em;
            margin-top: 0.2em;
        }
    </style>
{% endblock %}
