{% extends "npc/show.html.twig" %}

{% block abilities_list %}
    <h2>{{ npc.morph.type }}</h2>
    <h2>Atouts</h2>
    <ul>
        {% for edge in npc.edges %}
            <li>
                <a href="{{ wikilink(edge.name) }}">{{ edge.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="pure-g">
        <div class="pure-u-1">
            {{ wiki(vertex.content) }}
            <h2>Backlinks</h2>
            {{ include('fragment/wiki_backlinks.html.twig') }}
        </div>
    </div>
{% endblock %}
