{% extends "npc/show.html.twig" %}

{% block abilities_list %}
    {{ include('fragment/morph_detail.html.twig', {morph: npc.morph}) }}
    <h2>Atouts (spéciaux)</h2>
    <ul>
        {% for edge in npc.edges %}
            <li>
                <a href="{{ wikilink(edge.name) }}">{{ edge.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>Informations</h1>
            {{ wiki(vertex.content) }}
            <h2>Backlinks</h2>
            {{ include('fragment/wiki_backlinks.html.twig') }}
        </div>
    </div>
{% endblock %}
