{% extends "book/base.html.twig" %}
{% block body %}     
    {{ dump_page('Pitch Eclipse Phase')}}
    <section>
        <h1 class="h0">Commencement</h1>
        {{ dump_page('Cadre de jeu')}}
        {{ dump_page('Création de PJ')}}
    </section>
    <section>
        <h1 class="h0">Historiques</h1>
        {{ dump_category('Historique', 3) }}
    </section>
    <section>
        <h1 class="h0">Factions</h1>
        {{ dump_category('Faction', 3) }}
    </section>        
    <section>
        <h1 class="h0">Motivations</h1>
        {{ dump_category('Motivation', 3) }}
    </section>       
    <section>
        <h1 class="h0">Réseaux sociaux</h1>
        {{ dump_page('Réseaux sociaux')}}
        {{ dump_page('Cercle-A')}}
        {{ dump_page('CivicNet')}}
        {{ dump_page('Fame')}}
        {{ dump_page('Guanxi')}}
        {{ dump_page('L\'Œil')}}
        {{ dump_page('Réseaux de Recherche Associés')}}
        {{ dump_page('EXploreNet')}}
    </section>            
    <section>
        <h1 class="h0">Handicaps</h1>
        {{ dump_category('Handicap', 3) }}
    </section>
    <section>
        <h1 class="h0">Compétences</h1>
        {{ dump_category('Compétence', 3) }}
    </section>
    <section>
        <h1 class="h0">Atouts</h1>
        {{ dump_category('Atout', 3) }}
    </section>
    <section>
        <h1 class="h0">Biomorphes</h1>
        {{ dump_category('Biomorphe', 3) }}        
    </section>
    <section>
        <h1 class="h0">Cosses</h1>
        {{ dump_category('Cosse', 3) }}        
    </section>
    <section>
        <h1 class="h0">Synthomorphes</h1>
        {{ dump_category('Synthomorphe', 3) }}        
    </section>
    <section>
        <h1 class="h0">Infomorphes</h1>
        {{ dump_category('Infomorphe', 3) }}        
    </section>
    <section>
        <h1 class="h0">Nouvelles mécaniques</h1>
        {{ dump_category('Règle', 3) }}        
    </section>     
    <h1 class="h0">Touches finales</h1>    
    Il reste à choisir les Traits de votre Muse.
    {{ dump_page('IA limitée')}}        
    {{ dump_page('Muse')}}    
{% endblock %}