{# Append InvokeAI picture to vertex #}
{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Append picture{% endblock %}
{% block header_title %}{{ form.vars.data.title }}{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _append_remote_picture_prompt_keywords_widget %}
    {{ form_widget(form) }}
    <img id="{{ form.vars.id }}_preview"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
    <style>
        .autocomplete-suggestion img {
            width: 80px;
        }
        #append_remote_picture > .form-error {
            background-color: lightpink;
            text-align: center;
        }
        #append_remote_picture > .form-error ul {
            padding: 1em;
        }
        form[name=append_remote_picture]:invalid button {
            opacity: 0.3;
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('pixabay/auto-complete.min.js') }}"></script>
    <script>
        window.addEventListener('load', () => {
            const promptField = document.getElementById('{{form.prompt_keywords.vars.id}}')
            const remoteField = document.getElementById('{{form.picture_url.vars.id}}')
            const localField = document.getElementById('{{form.local_name.vars.id}}')
            const previewImg = document.getElementById('{{form.prompt_keywords.vars.id}}_preview')

            // autocomplete
            new autoComplete({
                selector: '#{{ form.prompt_keywords.vars.id }}',
                minChars: 3,
                source: function (term, suggest) {
                    term = term.toLowerCase()
                    fetch('{{ path('app_invokeaipicture_ajaxsearch') }}?q=' + term)
                            .then(response => {
                                return response.json()
                            })
                            .then(data => {
                                suggest(data)
                            })
                },
                renderItem: function (item, search) {
                    return '<div class="autocomplete-suggestion" data-pathname="' + item.full +
                            '" data-thumb="' + item.thumb +
                            '"><img src="' + item.thumb + '"/></div>'
                },
                onSelect: function (e, term, item) {
                    remoteField.value = item.getAttribute('data-pathname')
                    previewImg.src = item.getAttribute('data-thumb')
                }
            })

            // filling default name for picture
            promptField.addEventListener('keyup', event => {
                localField.value = '{{ form.vars.data.title }} - ' + promptField.value
            })

            // focus on prompt query
            promptField.focus()

            // waiting upload...
            const submitButton = document.getElementById('{{ form.append.vars.id}}')
            submitButton.addEventListener('click', event => {
                submitButton.innerHTML = '<i class="icon-spin3 animate-spin"></i>'
            })

        })
    </script>
{% endblock %}