{# Search into InvokeAI images #}
{% extends "base.html.twig" %}

{% block title %}InvokeAI Search{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    {% for title, storage in gallery %}
        <h2>{{ title|capitalize }}</h2>
        <section class="pure-g search">
            {% for picture in storage %}
                <div class="pure-u-1-5">
                    {% block picture %}
                    <div class="thumbnail">
                        <a href="{{ picture.full }}" target="_blank" title="{{ picture.prompt }}">
                            <img src="{{ picture.thumb }}" class="pure-img"/>
                        </a>
                        <div class="legend">{{ picture.width }}</div>
                    </div>
                    {% endblock %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .search .thumbnail {
            margin-bottom: 1em;
            text-align: center;
        }
        .search img {
            margin: auto;
            max-width: 256px;
            max-height: 256px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('load', () => {
            const queryField = document.getElementById('{{form.query.vars.id}}')
            // focus on prompt query
            queryField.focus()
        })
    </script>
{% endblock %}