{# Search into InvokeAI images #}
{% extends "base.html.twig" %}

{% block title %}InvokeAI Search{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
    <section class="pure-g search">
        {% for picture in gallery %}
            <div class="pure-u-1-5">
                <div class="thumbnail">
                    <a href="{{ picture.full }}" target="_blank">
                        <img src="{{ picture.thumb }}" class="pure-img"/>
                    </a>
                    <div class="legend">{{ picture.width }}</div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .search .thumbnail {
            margin-bottom: 1em;
            text-align: center;
        }
        .search img {
            margin: auto;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener('load', () => {
            const queryField = document.getElementById('{{form.query.vars.id}}')
            // focus on prompt query
            queryField.focus()
        })
    </script>
{% endblock %}