{# Search into InvokeAI images for appending to vertex #}
{% extends "invokeai/search.html.twig" %}

{% block title %}Append picture{% endblock %}
{% block header_title %}{{ vertex.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import stableDiffusion from 'sd-gallery-search';

        Alpine.data('stableDiffusion', (source, url) => {
            let obj = stableDiffusion(source, url)

            obj.linkParameter = function (picture) {
                const param = new URLSearchParams({
                    storage: this.source,
                    pic: picture.name,
                    query: this.query
                })
                const href = '{{ path('app_invokeaipicture_vertexappend', {pk: vertex.pk}) }}?' + param
                return {
                    href,
                    title: picture.prompt
                }
            }

            return obj
        })
    </script>
{% endblock %}

{% block info %}
    {{ parent() }}
    <section>
    {{ render(controller('App\\Controller\\InvokeAiPicture::lastPicture')) }}
    </section>
{% endblock %}