{% extends "base.html.twig" %}

{% block title %}Création d'un Vertex{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% macro category(icon, url, label) %}
    <div class="pure-u-1 pure-u-lg-1-3">
        <a href="{{ url }}">
            <i class="icon-{{ icon }}"></i>
            <h2>{{ label }}</h2>
        </a>
    </div>
{% endmacro %}

{% block content %}
    {% if from_link is not empty %}
        <section>
            <h2>Voulez-vous créer</h2>
            <div class="pure-g dashboard">
                {{ _self.category('video', path('app_scenecrud_create', {title: from_link}), 'une Scène ?') }}
                {{ _self.category('user-plus', path('app_npcgenerator_create', {title: from_link}), 'un Transhumain ?') }}
                {{ _self.category('place', path('app_placecrud_create', {title: from_link}), 'un Décor ?') }}
            </div>
        </section>
    {% endif %}
{% endblock %}
