{% extends "base.html.twig" %}

{% block title %}Création d'un Vertex{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    {% if from_link %}
        <section>
            <h2>Peut-être voulez-vous créer</h2>
            <div class="pure-g">
                <div class="pure-u-1-4">
                    <a href="{{ path('app_scenecrud_create', {title: form.vars.data.title}) }}" class="pure-button">
                        <i class="icon-video"></i>                       
                        une Scène ?
                    </a>
                </div>
                <div class="pure-u-1-4">
                    <a href="{{ path('app_npcgenerator_ali', {title: form.vars.data.title}) }}" class="pure-button">
                        <i class="icon-ali"></i>                       
                        une IAL ?
                    </a>
                </div>
                <div class="pure-u-1-4">
                    <a href="{{ path('app_npcgenerator_create', {title: form.vars.data.title}) }}" class="pure-button">
                        <i class="icon-user-plus"></i>
                        un Transhumain ?
                    </a>
                </div>
                <div class="pure-u-1-4">
                    <a href="{{ path('app_placecrud_create', {title: form.vars.data.title}) }}" class="pure-button">
                        <i class="icon-place"></i>
                        un Décor ?
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
    <section>
        {{ form(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('vertex_title').focus()
    </script>
{% endblock %}