{% extends "base.html.twig" %}

{% block title %}Supprimer {{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('vertex/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block content %}
    <h2>Êtes-vous sûr de vouloir supprimer le {{ form.vars.data.category }} <strong>{{ form.vars.data.title }}</strong> ?</h2>
    <span>Ce vertex est mentionné dans les documents suivants :</span>
    {{ include('fragment/wiki_backlinks.html.twig') }}
    {{ form(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .backlinks ul li {
            display: block;
        }
    </style>
{% endblock %}