{% extends "base.html.twig" %}

{% block title %}{{ vertex.title }}{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('vertex/actions.html.twig') }}
    </nav>   
    {{ vertex.title }}
{% endblock %}

{% block content %}
    {{ wiki(vertex.content) }}
    {{ include('fragment/wiki_backlinks.html.twig') }}
{% endblock %}