{% extends "base.html.twig" %}

{% block title %}{{ vertex.title }}{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('vertex/actions.html.twig') }}
    </nav>   
    {{ vertex.title }}
{% endblock %}

{% block content %}
    {{ wiki(vertex.content) }}
    {{ include('fragment/wiki_backlinks.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import subscribePicture from 'picture-broadcasting';
        subscribePicture(document.querySelectorAll('.pushable a'))
    </script>  
    <script type="module">
        import Mousetrap from 'mousetrap';

        Mousetrap.bind('left', function () {
            location.assign('{{ path('app_vertexcrud_seekprevious', {pk: vertex.pk}) }}')
            return false
        })

        Mousetrap.bind('right', function () {
            location.assign('{{ path('app_vertexcrud_seeknext', {pk: vertex.pk}) }}')
            return false
        })

        Mousetrap.bind('e', function () {
            location.assign('{{ path('app_vertexcrud_edit', {pk: vertex.pk}) }}')
            return false
        })
    </script>
{% endblock %}

{% block info %}
    {{ render(controller('App\\Controller\\GameSession::history')) }}
{% endblock %}