{% extends "base.html.twig" %}

{% block title %}{{ vertex.title }}{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('vertex/actions.html.twig') }}
    </nav>   
    {{ vertex.title }}
{% endblock %}

{% block content %}
    {{ wiki(vertex.content) }}
    {{ include('fragment/wiki_backlinks.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }} 
    <script>
        Mousetrap.bind('left', function () {
            location.assign('{{ path('app_vertexcrud_seekprevious', {pk: vertex.pk}) }}')
            return false
        });

        Mousetrap.bind('right', function () {
            location.assign('{{ path('app_vertexcrud_seeknext', {pk: vertex.pk}) }}')
            return false
        });

        Mousetrap.bind('up', function () {
            location.assign('{{ path('app_vertexcrud_list') }}')
            return false
        });

        Mousetrap.bind('e', function () {
            location.assign('{{ path('app_vertexcrud_edit', {pk: vertex.pk}) }}')
            return false
        });

        let pictures = document.querySelectorAll('.thumb a')
        pictures.forEach((picture) => {
            let url = picture.href
            picture.addEventListener('click', (event) => {
                fetch(url)
                event.preventDefault()
            })
        })
    </script>
{% endblock %}