{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Création d'une collection de tuiles{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _arrangement_collection_widget %}
    <section class="pure-g">
        {% for child in form %}
            <div class="pure-u-1-4">
                <label for="{{ child.vars.id }}">{{ include('hex/tile/' ~ child.vars.label) }}</label>
                <div class="choice">{{ form_widget(child) }}</div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form .choice input {
            display: block;
            margin: 0 auto;
        }
        form label {
            display: block;
            text-align: center;
        }
    </style>
{% endblock %}