{% extends "base.html.twig" %}

{% block title %}Vue de la base{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped">
        {% for uid,tile in eigenbase %}
            <tr>
                <th>{{ uid }}</th>
                <td>{{ include ('hex/tile/' ~ tile.template~'.svg') }}</td>
                <td>{{ tile.rotation }}°<br/>{{ tile.probability }}</td>
                <td>
                    {% for direction in 0..5 %}
                        <div class="pure-g">
                            <div class="pure-u-1-24">{{ direction }}</div>
                            {% for neigh in tile.neighbourList[direction] %}
                                <div class="pure-u-1-12">
                                    {{ neigh.rotation }}°
                                    {{ include ('hex/tile/' ~ neigh.template~'.svg') }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_hexagoncrud_generate', {pk:tileset.pk}) }}" class="pure-button pure-input-1">Generate</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        svg {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
{% endblock %}