{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('place/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block _form_voronoiParam_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            {{ form(form) }}
        </div>
        <div class="pure-u-1-2">
            <img src="{{ path('app_voronoicrud_generate', {pk: form.vars.data.pk, fog: 0}) }}" class="pure-img"/>
        </div>
    </div>
{% endblock %}

