{% extends "base.html.twig" %}

{% block title %}{{ vertex.title }}{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('place/actions.html.twig') }}
    </nav>   
    {{ block('title') }}
{% endblock %}

{% block content %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Tuile</th>
                <th>Pièces</th>
                <th>Hexagones</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in stats %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value.rooms }}</td>
                    <td>{{ value.hexagons }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
