{# default actions #}
<a href="{{ path('app_vertexcrud_show', {pk: vertex.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
<a href="{{ path('app_lovelettercrud_edit', {pk: vertex.pk}) }}" title="Modifier"><i class="icon-edit"></i></a>
<a href="{{ path('app_lovelettercrud_pdf', {pk: vertex.pk}) }}" title="PDF"><i class="icon-file-pdf"></i></a>
<a href="{{ path('app_lovelettercrud_pushpdf', {pk: vertex.pk}) }}" title="Envoyer le PDF vers les joueurs"><i class="icon-push"></i></a>
<a href="{{ path('app_lovelettercrud_select', {pk: vertex.pk}) }}" title="Sélection du joueur"><i class="icon-select-list"></i></a>
<a href="{{ path('app_vertexcrud_rename', {pk: vertex.pk}) }}" title="Renommer"><i class="icon-rename"></i></a>
<a href="{{ path('app_vertexcrud_delete', {pk: vertex.pk}) }}" title="Effacer"><i class="icon-trash-empty"></i></a>
