{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Création d'une Love letter{% endblock %}

{% block header_title %}Création d'une Love letter{% endblock %}

{% block _loveletter_resolution_widget %}
    {% for idx in 0..4 %}
        <textarea id="loveletter_resolution_{{ idx }}" 
                  name="loveletter[resolution][{{ idx }}]"
                  class="pure-input-1"></textarea>
    {% endfor %}
    <div class="helper">
        <i class="icon-info-circled"></i>
        Remplissez une liste qui doit comporter un choix positif,
        un choix neutre (ou positif/négatif)
        et au moins 2 choix négatifs.
    </div>    
{% endblock %}

{% block _loveletter_roll3_widget %}
    {{ form_widget(form) }}
    <div class="helper">
        <i class="icon-info-circled"></i>
        La moyenne des 3 malus est à 0 pour une Loveletter classique ou à -2 si elle est liée à un Handicap. 
        S'il s'agit d'un jet d'Économie, indiquez le nombre de Succès/Prouesses.
    </div>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('fragment/init_autocomplete.html.twig', {element_id:'loveletter_content'}) }}
    {{ include('fragment/init_autocomplete.html.twig', {element_id:'loveletter_drama'}) }}
    <script>
        document.getElementById('loveletter_player').focus()
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form .helper {
            background-color: #eee;
            margin: 0 0 1em;
            padding: 0.5em;
        }
    </style>
{% endblock %}