{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('loveletter/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{%- block _loveletter_pc_choice_pc_choice_row -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div>
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock -%}

{% block content %}
    {{ form(form) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        #form_pcChoice div {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}