{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('loveletter/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{%- block _loveletter_pc_choice_pc_choice_row -%}
    <div {{ block('widget_container_attributes') }}>
        {# 
            this part is tricky : we do NOT iterate over the children in the form (a.k.a the 
            array of choices in the ChoiceType here) 
            but we iterate over the resolution array from the object bound to the form
            since we cannot access to the object before (perhaps it's possible into the FormView, dunno)
            Note : the choices are only initialised with dummy labels in the form type
        #}
        {%- for idx, resolution in form.parent.vars.data.resolution %}
            {% if resolution is not empty %}
                {% set child = form[idx] %}  {# we fetch the real child in the ChoiceType #}
                <div>
                    {{ form_widget(child) }}
                    <label for="{{ child.vars.id }}">{{ resolution }}</label> {# we print the child with the resolution label #}
                </div>
            {% endif %}
        {% endfor -%}
    </div>
{%- endblock -%}

{% block content %}
    {{ form(form) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>
        #form_pcChoice div {
            margin-bottom: 1em;
        }
    </style>
{% endblock %}