{% extends "base.html.twig" %}
{% form_theme(form) _self %}

{% block title %}{% endblock %}
{% block header_title %}
    <div style="float: right">
        <a href="{{ path('app_npcgraphcrud_list') }}" title="Retour à la liste">
            <i class="icon-list"></i>
        </a>
    </div>
    {{ block('title') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <fieldset>
        <div class="pure-g">
            <div class="pure-u-1-3 form-widget">
                <h2>Parents</h2>
                {{ form_widget(form.parents) }}
            </div>
            {% set childrenWidget = form_widget(form.node.children) %}
            <div class="pure-u-1-3">
                <h2>Nœud</h2>
                {{ form_widget(form.node) }}
            </div>
            <div class="pure-u-1-3 form-widget">
                <h2>Enfants</h2>
                {{ childrenWidget|raw }}
            </div>   
        </div>
        {{ form_rest(form) }}
    </fieldset>
    {{ form_end(form) }}
{% endblock %}

{% block _dag_focus_node_node_skills_widget %}
    <div x-data="{ choices: {{ form.vars.data|default({})|keys|json_encode() }} }" class="pure-g">
        {{ form_widget(form, {attr:{'x-model':'choices', class:'pure-u-1'}}) }}
        <div class="pure-u-1 preview-choices">
            <template x-for="item in choices">
                <label x-text="item"></label>
            </template>
        </div>
    </div>
{% endblock %}

{% block _dag_focus_node_node_edges_widget %}
    <div x-data="{ choices: {{ form.vars.data|default([])|json_encode() }} }" class="pure-g">
        {{ form_widget(form, {attr:{'x-model':'choices', class:'pure-u-1'}}) }}
        <div class="pure-u-1 preview-choices">
            <template x-for="item in choices">
                <label x-text="item"></label>
            </template>
        </div>
    </div>
{% endblock %}

{% block _dag_focus_node_node_backgrounds_widget %}
    {{ block('_dag_focus_node_node_edges_widget') }}
{% endblock %}

{% block _dag_focus_node_node_factions_widget %}
    {{ block('_dag_focus_node_node_edges_widget') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .preview-choices {
            margin-bottom: 0.6em;
        }
        form fieldset .form-widget .preview-choices label {
            display: inline-block;
            background-color: lightgreen;
            padding: 0.3em;
            border-radius: 0.6em;
            margin: 0 0.3em 0.6em;
        }
    </style>
{% endblock %}