{% extends "base.html.twig" %}
{% form_theme(form) _self %}

{% block title %}Édition du graphe de création{% endblock %}
{% block header_title %}
    <div style="float: right">
        <a href="{{ path('app_npcgraphcrud_run') }}" title="Création">
            <i class="icon-user-plus"></i>
        </a>
    </div>
    {{ block('title') }}
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block sidebar %}
    {% set graph = form.vars.data %}
    {% set root = graph.getNodeByName('root') %}
    <nav class="pure-menu">
        <ul class="pure-menu-list">
            {% for item in form.node %}
                <li class="pure-menu-item">
                    <a href="#{{ item.vars.id }}" class="pure-menu-link">
                        {{ graph.getShortestDistanceFromAncestor(item.vars.data, root) }}.
                        {{ item.vars.data.name|capitalize }}
                    </a>
                </li>
            {% endfor %}
            <li class="pure-menu-item">
                <a href="#{{ form.save.vars.id }}" class="pure-menu-link">
                    <i class="icon-edit"></i>
                    Save
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block _full_tree_node_row %}
    {{ form_widget(form) }}
    <button type="button" data-addlink class="pure-button">Ajouter un nœud</button>
{% endblock %}

{% block _full_tree_node_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _full_tree_node_entry_widget %}
    <h2 id="{{ form.vars.id }}">
        {% if form.vars.data is not empty %}
            <a href="{{ path('app_npcgraphcrud_delete', {node: form.vars.data.name}) }}">
                <i class="icon-trash-empty"></i>
            </a>
        {% endif %}
        {{ form.vars.data.name|default('<Nouveau nœud>')|capitalize }}
    </h2>
    <div class="pure-g">
        {% for key, child in form %}
            <div class="{{ child.vars.row_attr.class|default('pure-u-1 pure-u-xl-1-4') }} form-widget">
                <h3>{{ form_label(child) }}</h3>
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block multiselect_with_tags_widget %}
    <div x-data="{ choices: {{ form.vars.data|default([])|json_encode() }} }" class="pure-g">
        {{ form_widget(form, {attr:{'x-model':'choices', class:'pure-u-1'}}) }}
        <div class="pure-u-1 preview-choices">
            <template x-for="item in choices">
                <label x-text="item"></label>
            </template>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .preview-choices {
            margin-bottom: 0.6em;
        }
        form fieldset .form-widget .preview-choices label {
            display: inline-block;
            background-color: lightgreen;
            padding: 0.3em;
            border-radius: 0.6em;
            margin: 0 0.3em 0.6em;
        }
        fieldset h2 {
            margin-bottom: 0;
            background-color: orangered;
            padding: 0.2em;
            color: white;
        }
        fieldset h2:first-of-type {
            margin-top: 0;
        }
        fieldset h2 a {
            float: right;
            color: white;
        }
        fieldset h3 {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
        button[data-addlink] {
            margin: 1em auto 2em;
        }
        nav.pure-menu {
            position: sticky;
            top: 0.5em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', notused => {
            const collectionHolder = document.getElementById('full_tree_node')
            document.querySelector('button[data-addlink]').addEventListener("click", notused => {
                let node = document.createElement('div')
                node.innerHTML = collectionHolder.dataset.prototype
                        .replace(/__name__/g, collectionHolder.children.length)
                collectionHolder.appendChild(node)
            })
        })
    </script>
{% endblock %}
