{% extends "base.html.twig" %}

{% block title %}Création rapide de Transhumain{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <div x-data="quickCreation">
        <div class="pure-g">
            {% set cell_style = 'pure-u-1 pure-u-md-1-2 pure-u-xl-1-6' %}
            <template x-for="(key, idx) in choices" :key="key">
                <div class="{{ cell_style }}" x-data="{selected: seekNode(key)}">
                    <h2 x-text="selected.name"></h2>
                    <template x-for="child in selected.children">
                        <label x-data="{choice: seekNode(child)}">
                            <input type="radio" x-bind:name="selected.name + '_child'" x-on:click="setChoiceAt(idx + 1, choice.name)">
                            <span x-text="choice.name"></span>
                        </label>
                    </template>
                </div>
            </template>
        </div>
        <hr/>
        <div class="pure-g">
            <div class="{{ cell_style }}">
                <h2>Background</h2>
                <ul>
                    <template x-for="(value, idx) in getBackgrounds()">
                        <li x-id="['bg']">
                            <input type="radio" checked="true" name="background" x-bind:value="value" x-bind:id="$id('bg')"/>
                            <label x-text="value" x-bind:for="$id('bg')"></label>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="{{ cell_style }}">
                <h2>Faction</h2>
                <ul>
                    <template x-for="value in getFactions()">
                        <li x-id="['fac']">
                            <input type="radio" checked="true" name="faction" x-bind:value="value" x-bind:id="$id('fac')"/>
                            <label x-text="value" x-bind:for="$id('fac')"></label>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="{{ cell_style }}">
                <h2>Attributs</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getAttributes()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="'d'+value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="{{ cell_style }}">
                <h2>Compétences</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getSkills()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="'d'+value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="{{ cell_style }}">
                <h2>Réseaux</h2>
                <table class="pure-table">
                    <template x-for="(value, attr) in getNetworks()">
                        <tr>
                            <th x-text="attr"></th>
                            <td x-text="value"></td>
                        </tr>
                    </template>
                </table>
            </div>
            <div class="{{ cell_style }}">
                <h2>Atouts</h2>
                <ul>
                    <template x-for="value in getEdges()">
                        <li x-id="['edge']">
                            <input type="checkbox" checked="true" name="edge" x-bind:value="value" x-bind:id="$id('edge')"/>
                            <label x-text="value" x-bind:for="$id('edge')"></label>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="{{ cell_style }}">
                <h2>Morphs</h2>
                <ul>
                    <template x-for="value in getMorphs()">
                        <li x-id="['mrf']">
                            <input type="radio" checked="true" name="morph" x-bind:value="value" x-bind:id="$id('mrf')"/>
                            <label x-text="value" x-bind:for="$id('mrf')"></label>
                        </li>
                    </template>
                </ul>
            </div>  
            <div class="{{ cell_style }}">
                <h2>Keywords</h2>
                <ul>
                    <template x-for="value in getText2img()">
                        <li x-text='value'></li>
                    </template>
                </ul>
            </div> 
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quickCreation', () => ({
                    graph: {{ graph|raw }},
                    choices: ['root'],
                    seekNode: function (key) {
                        const found = this.graph.find(node => {
                            return node.name === key
                        })
                        if (typeof found === 'undefined') {
                            throw new Error('The node named "' + key + '" is unknown')
                        } else {
                            return found
                        }
                    },
                    setChoiceAt: function (i, key) {
                        this.choices.splice(i)
                        this.choices[i] = key
                    },
                    getAttributes: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('attributes'))) {
                            cumulative[key] = 4 + 2 * value
                        }
                        return cumulative
                    },
                    getSkills: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('skills'))) {
                            cumulative[key] = 2 + 2 * value
                        }
                        return cumulative
                    },
                    getNetworks: function () {
                        return this.flattenObjectWithSum('networks')
                    },
                    getEdges: function () {
                        return this.flattenArrayWithUnique('edges')
                    },
                    getBackgrounds: function () {
                        return this.flattenArrayWithUnique('backgrounds')
                    },
                    getFactions: function () {
                        return this.flattenArrayWithUnique('factions')
                    },
                    getMorphs: function () {
                        return this.flattenArrayWithUnique('morphs')
                    },
                    getText2img: function () {
                        return this.flattenArrayWithUnique('text2img')
                    },
                    flattenObjectWithSum: function (propertyKey) {
                        let cumulative = {}
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice)
                            for (const [key, value] of Object.entries(bonus[propertyKey])) {
                                if (!cumulative.hasOwnProperty(key)) {
                                    cumulative[key] = 0
                                }
                                cumulative[key] += value
                            }
                        }
                        return cumulative
                    },
                    flattenArrayWithUnique: function (propertyKey) {
                        let cumulative = new Set()
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice)
                            for (const value of bonus[propertyKey]) {
                                cumulative.add(value)
                            }
                        }
                        return Array.from(cumulative.values())
                    }
                }))
        })
    </script>
{% endblock %}