{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Création rapide de Transhumain{% endblock %}
{% block header_title %}
    <div style="float: right">
        <a href="{{ path('app_npcgraphcrud_edit') }}" title="Éditer le graphe">
            <i class="icon-edit"></i>
        </a>
    </div>
    {{ block('title') }}
{% endblock %}

{% block content %}
    <div x-data="quickCreation">
        <section class="pure-g node-selection">
            {% set cell_style = 'pure-u-1 pure-u-md-1-2 pure-u-xl-1-6' %}
            <template x-for="(key, idx) in choices" :key="key">
                <div class="{{ cell_style }}" x-data="{selected: seekNode(key)}">
                    <article>
                        <header>
                            <h2 x-text="selected.name"></h2>
                        </header>
                        <div class="stats">
                            <ul>
                                <template x-for="idx, title in selected.skills">
                                    <li x-text="title" class="skill"></li>
                                </template>
                                <template x-for="idx, title in selected.networks">
                                    <li x-text="title" class="network"></li>
                                </template>
                            </ul>
                        </div>
                        <footer>
                            <template x-for="child in selected.children">
                                <label x-data="{choice: seekNode(child)}">
                                    <input type="radio" x-bind:name="selected.name + '_child'" x-on:click="setChoiceAt(idx + 1, choice.name)">
                                    <span x-text="choice.name"></span>
                                </label>
                            </template>
                        </footer>
                    </article>
                </div>
            </template>
        </section>
        <hr/>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        <section class="pure-g result-selection" x-data="{ keywords: {}, avatar: [] }">
            <div class="{{ cell_style }}">
                {{ form_row(form.background) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.faction) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.attributes) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.skills) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.economy) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.edges) }}
            </div>
            <div class="{{ cell_style }}">
                {{ form_row(form.morph) }}
            </div>  
            <div class="{{ cell_style }}">
                <h2>Keywords</h2>
                <ul>
                    <template x-for="(value, idx) in getText2img()" :key="value">
                        <li x-id="[value]">
                            <input type="checkbox" x-init="keywords[value]=true" x-model="keywords[value]" x-bind:id="$id(value)"/>
                            <label x-text="value" x-bind:for="$id(value)"></label>
                        </li>                
                    </template>
                </ul>
            </div> 
            <div class="pure-u-1 pure-u-xl-2-3" 
                 x-init="$watch('keywords', updateAvatar )">
                <template x-for="(value, idx) in avatar" :key="idx">
                    <img x-bind:src="value.thumbnailUrl"/>
                </template>
            </div> 
        </section>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _selector_background_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="(value, idx) in getBackgrounds()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_faction_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getFactions()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_morph_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getMorphs()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_edges_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getEdges()" :key="value">
            <li x-id="[value]">
                <input type="checkbox" checked="true" name="{{ form.vars.full_name }}[]" x-bind:value="value" x-bind:id="$id(value)"/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_skills_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getSkills())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="'d'+getSkills()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[skills][' + idx + '][name]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[skills][' + idx + '][roll]'" x-bind:value="getSkills()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block _selector_attributes_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getAttributes())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="'d'+getAttributes()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[attributes][' + idx + '][name]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[attributes][' + idx + '][roll]'" x-bind:value="getAttributes()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block _selector_economy_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getNetworks())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="getNetworks()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[economy][' + idx + '][key]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[economy][' + idx + '][value]'" x-bind:value="getNetworks()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quickCreation', () => ({
                    graph: {{ graph|raw }},
                    choices: ['root'],
                    seekNode: function (key) {
                        const found = this.graph.find(node => {
                            return node.name === key
                        })
                        if (typeof found === 'undefined') {
                            throw new Error('The node named "' + key + '" is unknown')
                        } else {
                            return found
                        }
                    },
                    setChoiceAt: function (i, key) {
                        this.choices.splice(i)
                        this.choices[i] = key
                    },
                    getAttributes: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('attributes'))) {
                            cumulative[key] = 4 + 2 * value
                        }
                        return cumulative
                    },
                    getSkills: function () {
                        let cumulative = {}
                        for (const [key, value] of Object.entries(this.flattenObjectWithSum('skills'))) {
                            cumulative[key] = 2 + 2 * value
                        }
                        return cumulative
                    },
                    getNetworks: function () {
                        return this.flattenObjectWithSum('networks')
                    },
                    getEdges: function () {
                        return this.flattenArrayWithUnique('edges')
                    },
                    getBackgrounds: function () {
                        return this.flattenArrayWithUnique('backgrounds')
                    },
                    getFactions: function () {
                        return this.flattenArrayWithUnique('factions')
                    },
                    getMorphs: function () {
                        return this.flattenArrayWithUnique('morphs')
                    },
                    getText2img: function () {
                        return this.flattenArrayWithUnique('text2img')
                    },
                    flattenObjectWithSum: function (propertyKey) {
                        let cumulative = {}
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice)
                            for (const [key, value] of Object.entries(bonus[propertyKey])) {
                                if (!cumulative.hasOwnProperty(key)) {
                                    cumulative[key] = 0
                                }
                                cumulative[key] += value
                            }
                        }
                        return cumulative
                    },
                    flattenArrayWithUnique: function (propertyKey) {
                        let cumulative = new Set()
                        for (let choice of this.choices) {
                            let bonus = this.seekNode(choice)
                            for (const value of bonus[propertyKey]) {
                                cumulative.add(value)
                            }
                        }
                        return Array.from(cumulative.values())
                    },
                    updateAvatar(keywords) {
                        let query = ''
                        for (let key in keywords) {
                            if (keywords[key]) {
                                query += key + ' '
                            }
                        }
                        fetch('{{ path('app_invokeaipicture_ajaxsearch')}}')
                                .then(resp => {
                                    return resp.json()
                                })
                                .then(result => {
                                    this.avatar = result
                                })
                    }
                }))
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .node-selection article {
            margin: 0 1em 1em 0;
        }
        .node-selection header h2 {
            background-color: orangered;
            color: white;
            padding: 0.2em;
            text-transform: capitalize;
        }
        .node-selection .stats ul {
            padding-left: 1em;
        }
        .stats li {
            padding: 0.2em 0;
        }
        .stats li.skill {
            background-color: lightblue;
        }
        .stats li.network {
            background-color: orange;
        }
        .node-selection footer {
            background-color: lightgray;
        }
        .node-selection footer label {
            display: block;
            padding: 0.4em 0;
        }
        .result-selection ul {
            padding: 0;
            list-style: none;
        }
    </style>
{% endblock %}