{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Création rapide de Transhumain{% endblock %}
{% block header_title %}
    {{ include('npcgraph/menu.html.twig') }}
    {{ block('title') }}
{% endblock %}

{% block content %}
    <div x-data="quickCreation"
         x-init="graph={{ graph|json_encode()|e('html_attr') }};
         choices={{ form.node_selection.vars.data|default("['root']")|e('html_attr') }};
         baseUrl.picture='{{ path('app_invokeaipicture_ajaxsearch', {source:'local'})}}';
         baseUrl.name='{{ path('app_gmhelper_ajaxname')}}';
         ">
        <section class="pure-g node-selection">
            {% set cell_style = 'pure-u-1 pure-u-md-1-2 pure-u-xl-1-6' %}
            <template x-for="(key, idx) in choices" :key="key">
                <div class="{{ cell_style }}" x-data="{selected: seekNode(key)}">
                    <article>
                        <header>
                            <h2 x-text="selected.name"></h2>
                        </header>
                        <div class="stats">
                            <ul>
                                <template x-for="idx, title in selected.skills">
                                    <li x-text="title" class="skill"></li>
                                </template>
                                <template x-for="idx, title in selected.networks">
                                    <li x-text="title" class="network"></li>
                                </template>
                            </ul>
                        </div>
                        <footer>
                            <template x-for="child in selected.children">
                                <label x-data="{choice: seekNode(child)}">
                                    <input type="radio" x-bind:name="selected.name + '_child'"
                                           x-on:click="setChoiceAt(idx + 1, choice.name)"
                                           x-bind:checked="choices[idx+1]===choice.name">
                                    <span x-text="choice.name"></span>
                                </label>
                            </template>
                        </footer>
                    </article>
                </div>
            </template>
        </section>
        <hr/>
        {{ form_start(form) }}
        <fieldset>
            <section class="pure-g">
                <div class="pure-u-1-4">
                    {{ form_widget(form.wildCard) }}
                    <label for="{{ form.wildCard.vars.id }}">
                        Joker
                        <i class="icon-wildcard"></i>
                    </label>
                </div>
                <div class="pure-u-1-4">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {attr:{'x-ref':'fullname'}}) }}
                </div>
                <div class="pure-u-1-4">
                    {{ form_widget(form.language, {attr:{'x-ref':'select_language'}}) }}
                </div>
                <div class="pure-u-1-4">
                    <a x-on:click="generateName" class="pure-button">Random name</a>
                </div>
            </section>
            <section class="pure-g result-selection">
                {% for child in ['background', 'faction', 'attributes', 'skills', 'economy', 'edges', 'morph'] %}
                    <div class="{{ cell_style }}">
                        {{ form_row(form[child]) }}
                    </div>
                {% endfor %}
                <div class="{{ cell_style }}">
                    <h2>Keywords</h2>
                    <ul>
                        <template x-for="(value, idx) in getText2img()" :key="value">
                            <li x-id="[value]">
                                <input type="checkbox" x-init="if (!keywords.hasOwnProperty(value)) keywords[value] = true" x-model="keywords[value]" x-bind:id="$id(value)"/>
                                <label x-text="value" x-bind:for="$id(value)"></label>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="pure-u-1 pure-u-xl-2-3 avatar-suggest"
                     x-init="$watch('keywords', v => { updateAvatar() })">
                    {{ form_row(form.content) }}
                </div>
            </section>
            {{ form_rest(form) }}
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _selector_content_row %}
    <template x-for="(value, idx) in avatar" :key="value.name">
        <label>
            <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value.name"/>
            <img x-bind:src="value.thumb"/>
        </label>
    </template>
{% endblock %}

{% block _selector_background_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="(value, idx) in getBackgrounds()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_faction_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getFactions()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_morph_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getMorphs()" :key="value">
            <li x-id="[value]">
                <input type="radio" name="{{ form.vars.full_name }}" x-bind:value="value" x-bind:id="$id(value)" required/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_edges_row %}
    <h2>{{ form_label(form) }}</h2>
    <ul>
        <template x-for="value in getEdges()" :key="value">
            <li x-id="[value]">
                <input type="checkbox" checked="true" name="{{ form.vars.full_name }}[]" x-bind:value="value" x-bind:id="$id(value)"/>
                <label x-text="value" x-bind:for="$id(value)"></label>
            </li>
        </template>
    </ul>
{% endblock %}

{% block _selector_skills_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getSkills())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="'d'+getSkills()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[skills][' + idx + '][name]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[skills][' + idx + '][roll]'" x-bind:value="getSkills()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block _selector_attributes_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getAttributes())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="'d'+getAttributes()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[attributes][' + idx + '][name]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[attributes][' + idx + '][roll]'" x-bind:value="getAttributes()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block _selector_economy_row %}
    <h2>{{ form_label(form) }}</h2>
    <table class="pure-table">
        <template x-for="(attr, idx) in Object.keys(getNetworks())" :key="attr">
            <tr>
                <th x-text="attr"></th>
                <td x-text="getNetworks()[attr]"></td>
            <input type="hidden" x-bind:name="'selector[economy][' + idx + '][key]'" x-bind:value="attr"/>
            <input type="hidden" x-bind:name="'selector[economy][' + idx + '][value]'" x-bind:value="getNetworks()[attr]"/>
            </tr>
        </template>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import quickCreation from 'quick-npc';
        Alpine.data('quickCreation', quickCreation)
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .node-selection article {
            margin: 0 1em 1em 0;
        }
        .node-selection header h2 {
            background-color: orangered;
            color: white;
            padding: 0.2em;
            text-transform: capitalize;
        }
        .node-selection .stats ul {
            padding-left: 1em;
        }
        .stats li {
            padding: 0.2em 0;
        }
        .stats li.skill {
            background-color: lightblue;
        }
        .stats li.network {
            background-color: orange;
        }
        .node-selection footer {
            background-color: lightgray;
        }
        .node-selection footer label {
            display: block;
            padding: 0.4em 0;
        }
        .result-selection ul {
            padding: 0;
            list-style: none;
        }
        /* avatar */
        .avatar-suggest {
            --thumbnail-size: 100px;
            --zoom-out: 2.8;
        }
        .avatar-suggest input {
            display: none;
        }
        .avatar-suggest img {
            max-height: var(--thumbnail-size);
            max-width: var(--thumbnail-size);
        }
        .avatar-suggest img:hover {
            transform: scale(var(--zoom-out));
            top: calc(-var(--thumbnail-size) * (var(--zoom-out) - 1) / 2);
            left: calc(-var(--thumbnail-size) * (var(--zoom-out) - 1) / 2);
        }
        .avatar-suggest input:checked + img {
            filter: sepia(100%) brightness(80%) saturate(400%);
            border-radius: calc(var(--thumbnail-size) / 2);
        }
        /* override spacing in form */
        .pure-form .result-selection input[type="radio"],
        .pure-form .result-selection input[type="checkbox"] {
            margin-bottom: 0.4em;
        }
    </style>
{% endblock %}