{# Pushing a dynamic document #}
{% extends "gmpusher/share_qrcode.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block header_title %}
    <nav style="float: right">
        <a href="{{ path('app_vertexcrud_show', {pk: vertex.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
    </nav>
    {{ title }}
{% endblock %}

{% block sharing_selection %}
    <section class="local">
        <h2>{{ document.label }}</h2>
        {{ form(form) }}
    </section>
    <section class="cloud">
        <form action="{{ path('app_gmpusher_cloudshare', {filename: app.request.get('filename')}) }}" method="post">
            <button><img src="{{ asset('img/cloud-upload.svg') }}" class="pure-img"/></button>
        </form>
        <h2>Failover sur le Cloud</h2>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .cloud {
            padding-top: 9em;
        }
        .cloud h2 {
            text-align: center;
        }
        .cloud img {
            width: 40%;
            margin: 0 auto;
            opacity: 10%;
        }
        .cloud img:hover {
            opacity: 100%;
        }
        .cloud button {
            background: none;
            border: none;
        }
    </style>
{% endblock %}
