{# default actions #}
<a href="{{ path('app_vertexcrud_show', {pk: vertex.pk}) }}" title="Voir"><i class="icon-eye"></i></a>
<a href="{{ path('app_placecrud_edit', {pk: vertex.pk}) }}" title="Modifier"><i class="icon-edit"></i></a>
    {% if vertex.npcTemplate is not empty %}
    <a href="{{ path('app_placecrud_npcshow', {title: vertex.npcTemplate}) }}" title="Générer un PNJ"><i class="icon-user-plus"></i></a>
    {% endif %}
<a href="{{ path('app_voronoicrud_edit', {pk: vertex.pk}) }}" title="Modifier la battlemap"><i class="icon-hexamap"></i></a>
<a href="{{ path('app_voronoicrud_texture', {pk: vertex.pk}) }}" title="Texturer la battlemap"><i class="icon-rgbcolor"></i></a>
<a href="{{ path('app_voronoicrud_storage', {pk: vertex.pk}) }}" title="Stocker la battlemap"><i class="icon-download"></i></a>
    {% if vertex.battleMap is not empty %}
    <a href="{{ path('app_placecrud_runmap', {pk: vertex.pk}) }}" target="_blank" title="Lancer la Battlemap"><i class="icon-runmap"></i></a>
    {% endif %}
<a href="{{ path('app_placecrud_child', {pk: vertex.pk}) }}" title="Créer lieu-enfant"><i class="icon-newchild"></i></a>
<a href="{{ path('app_vertexcrud_rename', {pk: vertex.pk}) }}" title="Renommer"><i class="icon-rename"></i></a>
<a href="{{ path('app_vertexcrud_delete', {pk: vertex.pk}) }}" title="Effacer"><i class="icon-trash-empty"></i></a>
