{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('place/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('place_content').focus()
    </script>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _place_content_label %}
    {{ form_label(form) }}
    <div class="minitools">
        <a href="{{ path('app_invokeaipicture_appendvertex', {pk: form.parent.vars.data.pk}) }}" class="pure-button" title="Append InvokeAI">
            <i class="icon-dcgan"></i>
        </a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        form .minitools {
            text-align: right;
            margin-right: 1em;
        }
        form .minitools i {
            font-size: 150%;
        }
    </style>
{% endblock %}