{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('place/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _place_content_label %}
    {{ form_label(form) }}
    {% include 'fragment/form_minitoolbar.html.twig' %}
    <div class="minitoolbar">
        <a href="{{ path('app_placecrud_appendmorphbank', {pk: form.parent.vars.data.pk}) }}"
           class="pure-button button-delete" title="Cancel edition and append a morph bank">
            <i class="icon-cryo-morph"></i>
        </a>
    </div>
{% endblock %}
