{% extends "base.html.twig" %}

{% block title %}PNJ pour {{ place.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('place/actions.html.twig', {vertex:place}) }}
    </nav>   
    {% block header_big_title %}PNJ pour {{ place.title }}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('multiavatar/multiavatar.min.js') }}"></script>
    <script>
        var onTheFly = document.querySelector('form[name=profile_on_the_fly]')
        var avatarSample = document.querySelectorAll('[data-avatar]')

        for (const sample of avatarSample) {
            sample.innerHTML = multiavatar(sample.dataset.avatar)
            // event for sending an avatar
            sample.addEventListener("click", function (e) {
                document.getElementById('profile_on_the_fly_svg').value = this.innerHTML
                document.getElementById('profile_on_the_fly_name').value = this.dataset.avatar

                let data = new FormData(onTheFly)
                fetch(onTheFly.action, {
                    method: 'post',
                    body: data,
                    redirect: 'manual'
                }).then(function (response) {
                    return response.json()
                }).then(function (json) {
                    pushFlash(onTheFly, json.level, json.message)
                })
            })
        }
    </script>
{% endblock %}

{% block content %}
    {{ form(form,{attr: {hidden:true}}) }}
    {% for label, gender in listing %}
        <section class="pure-g quick-npc">
            {% for name in gender %}
                <div class="pure-u-1-8">
                    <figure data-avatar="{{ name }}"></figure>
                    <a href="{{ path('app_placecrud_createwildcard', {title: name, template: place.npcTemplate}) }}"><i class="icon-wildcard"></i>{{ name }}</a>
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .quick-npc {
            text-align: center;
        }
        .quick-npc svg {
            cursor: pointer;
        }
        .quick-npc *[data-avatar] + a {
            padding-bottom: 1em;
            display: block;
        }
    </style>
{% endblock %}