<div class="pure-g">
    <div class="pure-u-1-12 thumb">
        <i class="icon-{{ item.world == 'Simulespace' ? 'simulspace' : 'place' }}"></i>
    </div>
    <div class="pure-u-1-2">
        <a href="{{ path('app_vertexcrud_show', {pk: item.pk}) }}" class="block-link">
            <h2>{{ item.title }}</h2>
            <span>Lieu :
                {{ item.gravity }},
                {{ item.pressure }},
                {{ item.temperature }}.
            </span>
        </a>
    </div>
    <div class="pure-u-5-12">
        <nav class="listing-action">
            {{ include('place/actions.html.twig', {vertex:item}) }}
        </nav>
    </div>
</div>