{% extends "vertex/show.html.twig" %}

{% block info %}
    {% if vertex.youtubeUrl is not empty %}
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/{{ vertex.youtubeUrl }}"
                title="{{ vertex.title }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <nav style="float: right">
        {{ include('place/actions.html.twig') }}
    </nav>
    {{ vertex.title }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-xl-3-4">
            {{ parent() }}
            {% if vertex.voronoiParam is not empty and vertex.voronoiParam.tilePopulation is not empty %}
                <h2>PNJ</h2>
                Ce lieu est peuplé par :
                <ul>
                    {% for cfg in vertex.voronoiParam.tilePopulation %}
                        <li>
                            <a href="{{ path('app_placecrud_npcshow', {title: cfg.npc.label}) }}">
                                <i class="icon-user-plus"></i>
                                {{ cfg.npc.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <aside class="pure-u-1 pure-u-xl-1-4">
            <div class="conditions"><i class="icon-gravity"></i>{{ vertex.gravity }}</div>
            <div class="conditions"><i class="icon-pressure"></i>{{ vertex.pressure }}</div>
            <div class="conditions">
                <i class="icon-temperature"></i>{{ vertex.temperature }}
            </div>
            <div class="place-connections">
                {{ render(controller('App\\Controller\\PlaceCrud::connectionToPlace', {place: vertex})) }}
            </div>
            {% if vertex.battlemap3d is not empty %}
                <div class="pure-g">
                    <div class="pure-u-1">
                        <a href="{{ path('app_firstperson_edit', {pk: vertex.pk}) }}" target="_blank">
                            <img src="{{ path('app_picture_battlemapthumbnail', {pk: vertex.pk}) }}" class="pure-img"/>
                        </a>
                    </div>
                </div>
            {% endif %}
        </aside>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .conditions {
            font-size: 140%;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 2em;
        }
        .conditions i {
            display: block;
            font-size: 170%;
            margin-bottom: 0.3em;
        }
        aside img {
            margin: auto;
        }
        aside .place-connections ul {
            list-style-type: none;
            line-height: 160%;
            background-color: #eee;
            padding: 1em;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('fragment/legend_highlight.html.twig') }}
    <script type="module">
        import pushSubscriber from 'morphbank-push-subscriber';
        pushSubscriber()
    </script>
{% endblock %}
