{% extends "base.html.twig" %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('encounter/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('fragment/init_autocomplete.html.twig', {element_id:'encounter_content'}) }}
    <script>
        document.getElementById('encounter_content').focus()
    </script>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}