{% extends "base.html.twig" %}

{% block content %}
    <div x-data="behavior" class="pure-g">
        <section class="pure-u-2-3">
            <ul>
                {% for npc in listing %}
                    <li>
                        <a x-on:click="push('{{ npc.title }}','{{ npc.wildCard ? '[J]' : '' }}',{{ npc.parry }},{{ npc.toughness }},{{ npc.totalArmor }})">{{ npc.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <canvas x-ref="qrious" class="pure-u-1-3"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('neocotic/qrious.min.js') }}"></script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('behavior', () => ({
                    encounter: [],
                    qrCode: null,
                    init() {
                        this.qrCode = new QRious({
                            element: this.$refs.qrious,
                            size: Math.min(innerWidth, innerHeight),
                            value: '-Vide-'
                        })
                    },
                    push(name, wc, par, tough, arm) {
                        this.encounter.push({name: name, tough: tough})
                        let str = '';
                        for(const npc of this.encounter) {
                            str = `${str} ${npc.name}\n`
                        }
                        this.qrCode.value = str
                        //console.log(str)
                    }
                }))
        })
    </script>
{% endblock %}