<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metadata_header %}{% endblock %}
        <title>{% block title %}Eclipse Savage{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('purecss/pure-min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('purecss/grids-responsive-min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fontello/css/fontello.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fontello/css/animation.css') }}"/>
        <link rel="stylesheet" href="{{ asset('yuku/autocomplete.css') }}"/>
        {% block stylesheets %}{% endblock %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    </head>
    <body>
        {% set navigation = [
            {key: 'f1', route: 'app_vertexcrud_list', icon: 'list', label: 'Liste Vertex'},
            {key: 'f2', route: 'app_npcgraphcrud_run', icon: 'npcgraph', label: 'Auto-PNJ'},
            {key: 'f3', route: 'app_npcgenerator_create', icon: 'user-plus', label: 'Créer Transhumain'},
            {key: 'f4', route: 'app_placecrud_create', icon: 'place', label: 'Créer Décor'},
            {key: 'f6', route: 'app_scenecrud_create', icon: 'video', label: 'Créer Scène'},
            {key: 'f7', route: 'app_remotepicture_search', icon: 'search', label: 'Recherche images'},
            {key: 'f8', route: 'app_gmhelper_namegenerate', icon: 'namebook', label: 'Générateur de noms'},
        ] %}
        {% block body %}
            <h1 class="big-title">{% block header_title %}{% endblock %}</h1>
            {{ include('fragment/flashes.html.twig') }}
            <div class="pure-g">
                <aside class="pure-u-1 pure-u-xl-1-6">
                    {% block sidebar %}
                        <nav class="pure-menu">
                            <a href="/" class="pure-menu-heading">
                                <i class="icon-menu"></i>
                                Eclipse Savage
                            </a>
                            <ul class="pure-menu-list">
                                {% for item in navigation %}
                                    <li class="pure-menu-item">
                                        <a href="{{ path(item.route) }}" class="pure-menu-link">
                                            <i class="icon-{{ item.icon }}"></i>
                                            {{ item.label }} ({{ item.key }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <section class="info">
                            {% block info %}
                            {% endblock %}
                        </section>
                    {% endblock %}
                </aside>
                <div class="pure-u-1 pure-u-xl-5-6">
                    <article>
                        {% block content %}{% endblock %}
                    </article>
                </div>
            </div>
        {% endblock %}
        <script src="{{ asset('js/DicePool.js') }}"></script>
        <script src="{{ asset('yuku/textcomplete.min.js') }}"></script>
        <script src="{{ asset('ccampbell/mousetrap.min.js') }}"></script>
        {% block javascripts %}
            {{ importmap() }}
            <script>
                {% for item in navigation %}
                    Mousetrap.bind('{{ item.key }}', function () {
                        location.assign('{{ path(item.route) }}')
                        return false
                    })
                {% endfor %}
            </script>
        {% endblock %}
    </body>
</html>
