<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Eclipse Savage{% endblock %}</title>
        <link  rel="stylesheet" href="{{ asset('purecss/pure-min.css') }}"/> 
        <link  rel="stylesheet" href="{{ asset('css/form.css') }}"/> 
        <link  rel="stylesheet" href="{{ asset('css/main.css') }}"/> 
        <link  rel="stylesheet" href="{{ asset('fontello/css/fontello.css') }}"/> 
        <link  rel="stylesheet" href="{{ asset('fontello/css/animation.css') }}"/> 
        <link  rel="stylesheet" href="{{ asset('yuku/autocomplete.css') }}"/> 
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1 class="big-title">{% block header_title %}{% endblock %}</h1>
            <div class="pure-g">
                <aside class="pure-u-1-6">
                    {% block sidebar %}
                        {% macro menu_item(route, icon, label) %}
                            <li class="pure-menu-item">
                                <a href="{{ path(route) }}" class="pure-menu-link">
                                    <i class="icon-{{ icon }}"></i>
                                    {{ label }}
                                </a>
                            </li>
                        {% endmacro %}
                        <nav class="pure-menu">
                            <span class="pure-menu-heading">
                                <i class="icon-menu"></i>
                                Eclipse Savage
                            </span>
                            <ul class="pure-menu-list">
                                {{ _self.menu_item('app_vertexcrud_list', 'list', 'Liste Vertex') }}
                                {{ _self.menu_item('app_npcgenerator_create', 'user-plus', 'Créer un Transhumain') }}
                                {{ _self.menu_item('app_npcgenerator_ali', 'ali', 'Créer un Robot') }}
                                {{ _self.menu_item('app_vertexcrud_create', 'video', 'Créer un Plot') }}
                                {{ _self.menu_item('app_placecrud_create', 'place', 'Créer un Décor') }}
                                {{ _self.menu_item('app_gmhelper_namegenerate', 'list', 'Générateur de noms') }}
                                {{ _self.menu_item('app_vertexcrud_tracker', 'stopwatch', 'Init. tracker') }}
                                {{ _self.menu_item('app_gmhelper_loveletter', 'heartbeat', 'Love letter') }}
                                {{ _self.menu_item('app_dump_edge', 'database', 'Tableau Atouts') }}
                            </ul>
                        </nav>
                        <section class="info">
                            {% block info %}{% endblock %}
                        </section>
                    {% endblock %}
                </aside>
                <div class="pure-u-5-6">
                    <article>
                        {% block content %}{% endblock %}
                    </article>
                </div>
            </div>
        {% endblock %}
        <script defer src="{{ asset('alpine/cdn.min.js') }}"></script>
        <script src="{{ asset('js/DicePool.js') }}"></script>
        <script src="{{ asset('yuku/textcomplete.min.js') }}"></script>
        <script src="{{ asset('ccampbell/mousetrap.min.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
