{% extends "base.html.twig" %}

{% block header_title %}Eclipse Savage{% endblock %}

{% macro dashboard_item(route, icon, label) %}
    <div class="pure-u-1-2 pure-u-xl-1-6">
        <a href="{{ path(route) }}">
            <i class="icon-{{ icon }}"></i>
            <h2>{{ label }}</h2>
        </a>
    </div>
{% endmacro %}


{% block content %}
    <div class="pure-g dashboard">
        {{ _self.dashboard_item('app_timelinecrud_create', 'movie-roll', 'Créer Scénario') }}
        {{ _self.dashboard_item('app_scenecrud_create', 'video', 'Créer Scène') }}
        {{ _self.dashboard_item('app_npcgenerator_create', 'user-plus', 'Créer Transhumain') }}
        {{ _self.dashboard_item('app_npcgraphcrud_run', 'npcgraph', 'Auto-PNJ') }}
        {{ _self.dashboard_item('app_placecrud_create', 'place', 'Créer Décor') }}
        {{ _self.dashboard_item('app_handoutcrud_create', 'handout', 'Créer Aide de jeu') }}
        {{ _self.dashboard_item('app_lovelettercrud_create', 'loveletter', 'Créer Love letter') }}
        {{ _self.dashboard_item('app_remotepicture_search', 'search', 'Recherche images') }}
        {{ _self.dashboard_item('app_picture_upload', 'image-upload', 'Upload image') }}
        {{ _self.dashboard_item('app_invokeaipicture_search', 'dcgan', 'InvokeAI') }}
        {{ _self.dashboard_item('app_gmhelper_namegenerate', 'namebook', 'Générateur de noms') }}
        {{ _self.dashboard_item('app_npcgenerator_ali', 'ali', 'Créer IAL') }}
        {{ _self.dashboard_item('app_npcgenerator_freeform', 'monster', 'Création libre') }}
        {{ _self.dashboard_item('app_gmhelper_tracker', 'stopwatch', 'Tracker Initiative') }}
        {{ _self.dashboard_item('app_gmhelper_qrcode', 'qrcode', 'QR Code Images') }}
        {{ _self.dashboard_item('app_gmhelper_qrcode3d', 'view3d', 'QR Code FPS') }}
        {{ _self.dashboard_item('help_application', 'help-circled', 'Aide') }}
        <div class="pure-u-1-2 pure-u-xl-1-6 mediawiki">
            <a href="{{ path('help_wikitext') }}">
                <img src="{{ asset('img/mediawikiwiki.svg') }}"/>
                <h2>Aide Wikitext</h2>
            </a>
        </div>
    </div>
    <h2>Informations sur le digraphe</h2>
    <ul>
        <li><a href="{{ path('app_vertexcrud_showorphan') }}">Voir les vertex orphelins</a></li>
        <li><a href="{{ path('app_vertexcrud_showbroken') }}">Voir les liens cassés</a></li>
        <li><a href="{{ path('app_vertexcrud_showstats') }}">Voir les statistiques</a></li>
        <li><a href="{{ path('app_gmhelper_digraph') }}">Voir le graphe en 3D</a></li>
    </ul> 
    <h2>Exporter la Collection 'mwpage'</h2>
    <ul>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_edge') }}">Tableau des Atouts</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_skill') }}">Tableau des Compétences</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_hindrance') }}">Tableau des Handicaps</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_gear') }}">Tableau des Matériels</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_rangedweapon') }}">Tableau des Armes à Distance</a>
        </li>
    </ul>
{% endblock %}
