{% extends "base.html.twig" %}

{% block header_title %}Aide{% endblock %}

{% block content %}
    <h2>Raccourcis sur la page de listing des vertex</h2>
    <ul>
        <li><strong>Escape</strong> : Reset du filtre de recherche</li>
        <li><strong>Entrée</strong> : Sélection du premier choix dans la liste</li>
    </ul>
    <h2>Raccourcis clavier dans une page 'Voir'</h2>
    <ul>
        <li><strong>Flèche droite</strong> : Vertex précédent (plus ancien)</li>
        <li><strong>Flèche gauche</strong> : Vertex suivant (plus récent)</li>
        <li><strong>Flèche haute</strong> : Liste des vertex</li>
        <li><strong>E</strong> : Édition du contenu WikiText du vertex</li>
        <li><strong>S</strong> : Édition des caractéristiques d'un PNJ</li>
        <li><strong>W</strong> : Édition des paramètres de combat d'un PNJ</li>
        <li><strong>P</strong> : Génération du profil réseau d'un Transhumain</li>
    </ul>
    <h2>Écran des joueurs</h2>
    <ul>
        <li><a href="{{ path('app_gmhelper_qrcode') }}">QR Code de connexion</a></li>
        <li><a href="{{ path('app_playercast_view') }}">Écran partagé</a></li>
    </ul>
    <h2>Page du tracker d'initiative</h2>
    <ul>
        <li><strong>Clic sur la case mort</strong> : PNJ grisé</li>
        <li><strong>2e clic sur la case mort</strong> : PNJ effacé</li>
    </ul>
    <h2>Images MediaWiki</h2>
    <ul>
        <li><a href="{{ path('app_remotepicture_search') }}">Recherche images</a></li>
    </ul>
    <h2>Génération de cartes</h2>
    <ul>
        <li><a href="{{ path('app_mapcrud_list') }}">Liste des modèles</a></li>
    </ul>
    <h2>En panne d'idée ?</h2>
    <ul>
        <li><a href="{{ path('app_idea_inspiration') }}">Avec OpenAI</a></li>
    </ul>
    <h2>Exporter la Collection 'mwpage'</h2>
    <ul>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_edge') }}">Tableau des Atouts</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_skill') }}">Tableau des Compétences</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_hindrance') }}">Tableau des Handicaps</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_gear') }}">Tableau des Matériels</a>
        </li>
        <li>
            <i class="icon-database"></i>
            <a href="{{ path('app_dump_rangedweapon') }}">Tableau des Armes à Distance</a>
        </li>
    </ul>
{% endblock %}
