{% extends "base.html.twig" %}

{% block header_title %}Générateur PNJ{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            {{ form(form) }}
        </div>
        <div class="pure-u-1-2">
            <h2>Historique</h2>
            <section id="background_detail"></section>
            <h2>Faction</h2>
            <section id="faction_detail"></section>
            <h2>Morphe</h2>
            <section id="morph_detail"></section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            document.getElementById('npc_historique').addEventListener('change', function (event) {
                console.log(event.target.value)
                fetch('{{ path('app_gmhelper_getbackground') }}?key=' + event.target.value)
                        .then(function (resp) {
                            return resp.text()
                        })
                        .then(function (data) {
                            document.getElementById('background_detail').innerHTML = data
                        })
            })

            document.getElementById('npc_faction').addEventListener('change', function (event) {
                console.log(event.target.value)
                fetch('{{ path('app_gmhelper_getfaction') }}?key=' + event.target.value)
                        .then(function (resp) {
                            return resp.text()
                        })
                        .then(function (data) {
                            document.getElementById('faction_detail').innerHTML = data
                        })
            })

            document.getElementById('npc_morphe').addEventListener('change', function (event) {
                console.log(event.target.value)
                fetch('{{ path('app_npcgenerator_getmorph') }}?key=' + event.target.value)
                        .then(function (resp) {
                            return resp.text()
                        })
                        .then(function (data) {
                            document.getElementById('morph_detail').innerHTML = data
                        })
            })
        })
    </script>
{% endblock %}