{% extends "base.html.twig" %}

{% block title %}Création d'une Scène{% endblock %}

{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    <section>
        {{ form(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('scene_create_title').focus()
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('pixabay/auto-complete.css') }}"/>
{% endblock %}