{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}{{ form.vars.data.title }}{% endblock %}

{% block header_title %}
    {# the header menu with title #}
    <nav style="float: right">
        {{ include('scene/actions.html.twig', {vertex:form.vars.data}) }}
    </nav>   
    {% block header_big_title %}{{ form.vars.data.title }}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById('vertex_content').focus()
    </script>
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _vertex_content_label %}
    {{ form_label(form) }}
    {% include 'fragment/form_minitoolbar.html.twig' %}
{% endblock %}