{% extends "vertex/show.html.twig" %}

{% block header_title %}
    <nav style="float: right">
        {{ include('handout/actions.html.twig') }}
    </nav>
    {{ vertex.title }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <section class="pure-u-1 pure-u-xl-11-24">
            <h2>À l'attention de : {{ vertex.target }}</h2>
            {{ wiki(vertex.pcInfo) }}
        </section>
        <section class="pure-u-xl-1-24">
        </section>
        <section class="pure-u-1 pure-u-xl-11-24">
            <h2>Secret</h2>
            {{ wiki(vertex.gmInfo) }}
        </section>
    </div>
{% endblock %}
