{# Session cache of broadcasted pictures #}
{% extends "base.html.twig" %}
{% form_theme form _self %}

{% block title %}Broadcasted pictures{% endblock %}
{% block header_title %}{{ block('title') }}{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}

{% block _form_picture_row %}
    <script type="application/json" id="{{ form.vars.id }}">
        {{ form.vars.choices|json_encode()|raw }}
    </script>
    <section class="mosaic" x-data="gallery('{{ form.vars.id }}')" x-id="['pic']">
        <template x-for="(child, idx) in listing" :key="child.value">
            <div class="flow">
                <input x-bind:id="$id('pic', idx)" type="checkbox" name="{{ form.vars.full_name }}[]" x-bind:value="child.value" checked="checked"/>
                <label x-bind:for="$id('pic', idx)">
                    <img x-bind:src="'/session/broadcasted-picture/' + child.value"/>
                </label>
            </div>
        </template>
    </section>
    <script type="module">
        Alpine.data('gallery', (modelId) => ({
                listing: [],
                init() {
                    this.listing = JSON.parse(document.getElementById(modelId).textContent)
                }
            }))
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .mosaic {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(8, 1fr);
        }

        .mosaic img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        .mosaic label {
            display: block;
        }

        .mosaic input {
            display: none;
        }

        .mosaic input:not(:checked) + label img {
            filter: grayscale(0.8) blur(2px) opacity(50%);
        }
    </style>
{% endblock %}
