{# dump history #}
{% if document.hasPinnedTimeline %}
    {% set timeline = document.timeline %}
    <section class="game-tracking">
        <a href="{{ path('app_vertexcrud_show', {pk: timeline.pk}) }}"
           <i class="icon-movie-roll"></i>
            {{ timeline.title }}
        </a>
        <ul class="history">
            {% for pk, vertex in document.history|slice(0, 8) %}
                <li class="icon-vertex-{{ vertex.category }}">
                    <a href="{{ path('app_vertexcrud_show', {pk: pk}) }}">
                        {{ vertex.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}